<!-- Mettre les actions générale -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-database position-left"></i>
                <span class="text-semibold"> {{ 'Gestion de Stock et Devis '|upper }} </span>
                <small class="display-block">Bonjour , {{'raphael'|upper }} . {{ 'raphael'|capitalize }} !</small>
            </h4>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="" class="btn btn-link btn-float has-text"><i class="icon-drawer3 text-primary"></i> <span>{{ 'Bon de livraison'|capitalize }}</span></a>
                <a href="" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>{{ 'Pro-formas'|capitalize }}</span></a>
                <a href="" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>{{ 'Inventaire du Stock'|capitalize }}</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-file-stats text-primary"></i><span>{{ 'Statistiques'|capitalize }}</span></a>
            </div>
        </div>
    </div>
</div>