<div class="sidebar sidebar-main sidebar-default">
    <div class="sidebar-fixed">
        <div class="sidebar-content">

            <!-- Main navigation -->
            <div class="sidebar-category sidebar-category-visible">
                <div class="category-title h6">
                    <span>{{ 'dasboard'|capitalize }}</span>
                    <ul class="icons-list">
                        <li><a href="#" data-action="collapse"></a></li>
                    </ul>
                </div>

                <div class="category-content sidebar-user">
                    <div class="media">
                        <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                        <div class="media-body">
                            <span class="media-heading text-semibold">Victoria Baker</span>
                            <div class="text-size-mini text-muted">
                                <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
                            </div>
                        </div>

                        <div class="media-right media-middle">
                            <ul class="icons-list">
                                <li>
                                    <a href="#"><i class="icon-cog3"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">

                        <!-- Main -->
                        <li class="navigation-header"><span>{{ 'edition'|capitalize }}</span> <i class="icon-menu" title="Main pages"></i></li>
                        <li class="active"><a href=""><i class="icon-home4"></i> <span>{{ 'dasboard'|capitalize }}</span></a></li>
                        <li><a href=""><i class="icon-compose"></i> <span>{{ 'articles'|capitalize }}</span></a></li>
                        <li><a href=""><i class="icon-images3"></i> <span>{{ 'Medias'|capitalize }}</span></a></li>
                        <li><a href=""><i class="icon-books"></i> <span>{{ 'dossiers'|capitalize }}</span></a></li>
                        <li><a href=""><i class="icon-video-camera"></i> <span>{{ 'reportages'|capitalize }}</span></a></li>
                        <li><a href=""><i class="icon-pencil3"></i> <span>{{ 'brouillons'|capitalize }}</span></a></li>
                        <!-- /main -->

                        <!-- configuration -->
                        <li class="navigation-header"><span>{{ 'Configuration du site'|capitalize }}</span> <i class="icon-menu" title="Main pages"></i></li>
                        <li><a href=""><i class="icon-compose"></i> <span>{{ 'articles hors ligne'|capitalize }}</span></a></li>
                        <li><a href=""><i class="icon-tree6"></i> <span>{{ 'Rubriques'|capitalize }}</span></a></li>
                        <li><a href=""><i class="icon-menu2"></i> <span>{{ 'Sous rubriques'|capitalize }}</span></a></li>
                        <li><a href=""><i class="icon-book"></i> <span>{{ 'Pages'|capitalize }}</span></a></li>
                        <!-- /configuration -->
                    </ul>
                </div>
            </div>
            <!-- /main navigation -->

        </div>
    </div>
</div>