{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="page-nav td-pb-padding-side">
    {% if previous is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="td-icon-menu-left"></i></a>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="page" title="{{ page }}">{{ page }}</a>
        {% else %}
            <span class="current">{{ page }}</span>
        {% endif %}
    {% endfor %}
    {% if pagesInRange[0] - first >= 2 %}
        <span class="extend">...</span>
    {% endif %}

    {% if next is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="td-icon-menu-right"></i></a>
    {% endif %}

    {% if pageCount > endPage %}
        <span class="pages">Page {{ pageCount }}</span>
    {% endif %}

    <div class="clearfix"></div>
</div>
{% endif %}
