<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--meta-->
    <!-- Styles -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" /><!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css" /><!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" /><!-- Style -->
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" /><!-- Responsive -->
    <link rel="stylesheet" href="{{ asset('css/perfect-scrollbar.css') }}" /><!-- Scroll Bar -->
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}" type="text/css" /><!-- Owl Carousal -->
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css" /><!-- Animate -->
    <link rel="stylesheet" href="{{ asset('css/colors/color.css') }}" type="text/css" /><!-- pink -->
    {% block stylesheets %}{% endblock %}
</head>
<body itemscope="" onLoad="goforit()">
    <header class="buddy-header bg-section">
        <div class="logo-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="current-time"><i class="fa fa-calendar"></i><span id="clock"></span></div>
                    </div>
                    <div class="col-md-4">
                        <div class="logo centred">
                            <a itemprop="url" href="#" title=""><img src="{{ asset('images/resource/logo.png') }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="social-btns">
                            <li><a itemprop="url" href="#" title=""><i class="fa fa-facebook"></i></a></li>
                            <li><a itemprop="url" href="#" title=""><i class="fa fa-twitter"></i></a></li>
                            <li><a itemprop="url" href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a itemprop="url" href="#" title=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a itemprop="url" href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="buddy-menu">
            <div class="container">
                {{ render(controller('LabsFrontBundle:Default:getMenu')) }}
                {% block submenu %}{% endblock %}
            </div>
        </div>
    </header>

    {% include 'LabsFrontBundle:Includes:responsive-header.html.twig' %}
    <div class="bg-container">
        {% block body %}{% endblock %}
    </div>
    {% include 'LabsFrontBundle:Includes:footer.html.twig' %}

<!-- Script -->
<script type="text/javascript"  src="{{ asset('js/modernizr.js') }}"></script><!-- modernizr -->
<script src="{{ asset('js/jquery-2.1.4.js') }}"></script><!-- Jquery -->
<script type="text/javascript"  src="{{ asset('js/bootstrap.min.js') }}"></script><!-- Bootstrap -->
<script type="text/javascript"  src="{{ asset('js/html5lightbox.js') }}"></script><!-- html5 Lightbox -->
<script type="text/javascript"  src="{{ asset('js/scrolltopcontrol.js') }}"></script><!-- Scroll to Top -->
<script type="text/javascript"  src="{{ asset('js/slick.min.js') }}"></script><!-- Carousal -->
<script type="text/javascript"  src="{{ asset('js/owl.carousel.min.js') }}"></script><!-- Carousal -->
<script type="text/javascript"  src="{{ asset('js/highlight.pack.js') }}"></script><!-- Highlight Pack -->
<script type="text/javascript"  src="{{ asset('js/tabifier.js') }}"></script><!-- Tabifier -->
<script type="text/javascript"  src="{{ asset('js/js.js') }}"></script><!-- Js -->
<script type="text/javascript"  src="{{ asset('js/jPages.min.js') }}"></script><!-- JPages -->
<script type="text/javascript" src="{{ asset('js/perfect-scrollbar.js') }}"></script><!-- Scroll Bar -->
<script type="text/javascript" src="{{ asset('js/perfect-scrollbar.jquery.js') }}"></script><!-- Scroll Bar -->
<script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/clock.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('js/apis/y.script.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>