{% extends 'LabsAdminBundle::layout.html.twig' %}
{% block Title %}  {{ 'Gestion des Items - Modification'|capitalize }} {% endblock %}
{% block body %}
    <!-- Main content -->
    <!-- Form horizontal -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{{ 'Gestion des Items - Edition' }}</h5>
            <div class="heading-elements">
                <div class="icons-list">
                    <a href="{{ path('item_index') }}" class="btn btn-primary btn-labeled"><b><i class="icon-menu7"></i></b> Afficher la liste</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{ form_start(form, { 'action': path('item_edit', {'id' : item.id, 'slug' : item.name}), attr : { 'class':'form-horizontal','novalidate': 'novalidate'}}) }}
            {{ form_errors(form) }}

            <fieldset class="content-group col-lg-10 col-md-offset-2">

                <legend class="text-bold">Modifier de la sous-rubrique - {{ item.name }}</legend>

                <div class="form-group">
                    <label class="control-label col-lg-3">Choix de la section associée</label>
                    <div class="col-lg-9">
                        {{ form_row(form.section) }}
                        {{ form_errors(form.section) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-3">Nom de la sous-rubrique</label>
                    <div class="col-lg-9">
                        {{ form_errors(form.name) }}
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3">Status de la sous-rubrique</label>
                    <div class="col-lg-3">
                        {{ form_errors(form.online) }}
                        {{ form_row(form.online) }}
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-danger">Modifier <i class="icon-database-add position-right"></i></button>
                </div>

            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block themes %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/form_inputs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/core/libraries/jquery_ui/interactions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/form_select2.js') }}"></script>
{% endblock %}