<div class="col-md-5 column">
    <div class="top-margin">
        <div class="col-md-12">
            {% for article in articles %}
                {% if article|length > 0 %}
                   {% if loop.first %}
                        <div itemtype="http://schema.org/BlogPosting" itemscope="" class="post-style13">
                            {% for media in article.medias %}
                                <div class="post-detail13">
                                    <img itemprop="image" src="{{ media.assertPath|imagine_filter('thumb_block_article') }}" alt="{{ article.name }}">
                                    <a href="{{ path('page_view', {'slug':article.slug}) }}" title="{{ article.name }}" itemprop="url" class="img-link"></a>
                                </div>
                            {% endfor %}
                            <div class="post-metas4">
                                <div class="date">
                                    <ul>
                                        <li>
                                            <a title="" href="#" content="{{ article.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}" itemprop="datePublished">{{ article.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</a>
                                            <a title="" href="#" content="{{ article.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}" itemprop="datePublished">{{ article.created|localizeddate('none', 'none', null, null, 'HH:mm a') }} |</a>
                                        </li>
                                        <li><a itemprop="url" href="#" title="">{{ article.legend }}</a></li>
                                    </ul>
                                </div>
                                <!--<div class="total-comments">
                                    <a itemprop="url" href="#" title=""><i class="fa fa-comments-o"></i> 1</a>
                                </div><!-- Total Comments -->
                                <!--<span class="total-views"><i class="fa fa-eye"></i> 874</span>-->
                            </div>
                            <h3 itemprop="headline"><a itemprop="url" href="{{ path('page_view', {'slug': article.slug}) }}" title="{{ article.name }}">{{ article.name }}</a></h3>
                            <p itemprop="description"> {{ article.content|truncate('250', true)|raw }}</p>
                        </div><!-- Post Style 13 -->
                   {% endif %}
               {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-7 column">
    <div class="top-margin">
        <div class="row">
            <div class="col-md-6">
                {% for arts in articles %}
                    {% if loop.first != loop.index and loop.index <= 5 %}
                        <div itemtype="http://schema.org/BlogPosting" itemscope="" class="post-style1">
                            {% for media in arts.medias %}
                                <div class="post-thumb1">
                                    <img alt="{{ arts.name }}" src="{{ media.assertPath|imagine_filter('thumb_top_small') }}" itemprop="image">
                                    <a href="{{ path('page_view', {'slug': arts.slug}) }}" title="{{ arts.name }}" itemprop="url" class="img-link"></a>
                                </div>
                            {% endfor %}
                            <div class="date">
                                <ul>
                                    <li>
                                        <a title="" href="#" content="{{ arts.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}" itemprop="datePublished">{{ arts.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 itemprop="headline"><a title="{{ path('page_view', {'slug': arts.name}) }}" href="{{ path('page_view', {'slug': arts.slug}) }}" itemprop="url">{{ arts.name|truncate('50', true, '...') }}</a></h3>
                        </div><!-- Post Style 1 -->
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6">
                {% for post in articles %}
                    {% if loop.index > 5 %}
                        <div itemtype="http://schema.org/BlogPosting" itemscope="" class="post-style1">
                            {% for media in post.medias %}
                                <div class="post-thumb1">
                                    <img alt="{{ post.name }}" src="{{ media.assertPath|imagine_filter('thumb_top_small') }}" itemprop="image">
                                    <a href="{{ path('page_view', {'slug': post.slug}) }}" title="{{ post.name }}" itemprop="url" class="img-link"></a>
                                </div>
                            {% endfor %}
                            <div class="date">
                                <ul>
                                    <li>
                                        <a title="" href="#" content="{{ post.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}" itemprop="datePublished">{{ post.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 itemprop="headline"><a title="{{ post.name }}" href="{{ path('page_view', {'slug': post.name}) }}" itemprop="url">{{ post.name|truncate('50', true, '...') }}</a></h3>
                        </div><!-- Post Style 1 -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
