<div class="responsive-header">
    <div class="top-bar">
        <div class="responsive-btn">
            <a href="#" title="" itemprop="url"><i class="fa fa-th"></i></a>
        </div><!-- Responsive Btn -->
        <ul class="social-btn">
            <li class="facebook"><a title="" href="#" itemprop="url"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a title="" href="#" itemprop="url"><i class="fa fa-twitter"></i></a></li>
            <li class="google"><a title="" href="#" itemprop="url"><i class="fa fa-google-plus"></i></a></li>
            <li class="dribbble"><a title="" href="#" itemprop="url"><i class="fa fa-dribbble"></i></a></li>
            <li class="linkedin"><a title="" href="#" itemprop="url"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div><!-- Top Bar -->
    <div class="logo">
        <a href="#" title="" itemprop="url"><img src="{{ asset('images/resource/logo.png') }}" alt="" itemprop="image" /></a>
    </div>
    <div class="add">
        <a href="#" title="" itemprop="url"><img src="http://placehold.it/375x46" alt="" itemprop="image" /></a>
    </div>
    <div class="responsive-menu">
        <div class="close-btn">
				<span>
					<i class="fa fa-times"></i>
					Fermer
				</span>
        </div><!-- Close Btn -->
        <ul>
            {% for section in sections %}
                <li>
                    <a itemprop="url" href="{{ path('front_section_page', {'slug' : section.slug}) }}" title="{{ section.name}}">{{ section.name|upper }}</a>
                    <ul>
                        {% set rubrique = section.slug %}
                        {% if section.items|length > 0 %}
                            {% for item in section.items %}
                                {% if item.online == 1 %}
                                    <li>
                                        <a itemprop="url" href="{{ path('front_item_page', {'rubrique': rubrique ,'slug' : item.slug}) }}" title="{{ item.name }}">{{ item.name|upper }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul><!-- drop-down -->
                </li>
            {% endfor %}
            <li>
                <a itemprop="url"  href="{{ path('dossier_page') }}" title="Page dossiers">{{ 'Dossiers'|upper }}</a>
            </li>
            <li>
                <a itemprop="url"  href="{{ path('videos_page') }}" title="{{ 'videos' }}">{{ 'Videos'|upper }}</a>
            </li>
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->
