{% extends '::base.html.twig' %}
{% block title %}{{ youtube.0.Title }}{% endblock %}
{% block meta %}
    <link rel="canonical" href="{{ url('video_view', { 'id': youtube.0.Id }) }}" />
    <!-- sample facbook meta tags -->
    <meta property="og:url" content="{{ url('video_view', { 'id': youtube.0.Id }) }}" />
    <meta property="og:title" content="{{ youtube.0.Title }}" />
    <meta property="og:type" content="youtube.0.Title" />
    <meta property="og:description" content="{{ youtube.0.Title }}" />
    <meta property="og:image"  content="{{ youtube.0.Thumb.high.url }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:site_name"  content="{{ 'Touslesjoursci.com' }}" />
    <meta property="og:locale"  content="fr_FR"/>
    <meta property="og:updated_time" content="{{ youtube.0.Published|localizeddate('none', 'none', null, null, 'd MMMM Y') }}" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:rich_attachment" content="true" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="fb:app_id" content="1651341078293386">
    <!--- sample twitter card meta tags --->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@touslesjoursci">
    <meta name="twitter:creator" content="@touslesjoursci">
    <meta name="twitter:title" content="{{ youtube.0.Title }}">
    <meta name="twitter:description" content="{{ youtube.0.Title}}">
    <meta name="twitter:image" content="{{ youtube.0.Thumb.high.url }}">
    <meta name="twitter:image:alt" content="{{ youtube.0.Title }}">
{% endblock %}
{% block body %}
{% if youtube|length > 0 %}
    <youtube.0.Title id="post-175" class="td-post-template-11 post-175 post type-post status-publish format-video has-post-thumbnail hentry category-tagdiv-music category-tagdiv-video post_format-post-format-video td-container-wrap" itemscope="" itemtype="https://schema.org/youtube.0.Title">
        <div class="td-video-template-bg">
            <div class="td-container">
                <div class="td-pb-row">
                    <div class="td-pb-span12 td-crumb-container">
                        <div class="entry-crumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                            <span class="td-bred-first"><a href="{{ path('homepage') }}">{{ 'Accueil' }}</a></span> <i class="td-icon-right td-bread-sep"></i>
                            <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                               <a title="Video - touslesjoursci.com - touslesjourstv" class="entry-crumb" itemscope="" itemprop="item" itemtype="http://schema.org/Thing" href="{{ path('videos_page') }}">
                               <span itemprop="name">{{ 'videos'|capitalize }}</span> </a>
                               <meta itemprop="position" content="1">
                            </span>

                            {% for first in youtube %}
                                {% if loop.first %}
                                    <i class="td-icon-right td-bread-sep td-bred-no-url-last"></i> <span class="td-bred-no-url-last">{{ first.Title }} </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="td-pb-span4 td-post-header">
                        <ul class="td-category">
                            <li class="entry-category"><a style="background-color:#5c69c1;color:#fff;border-color:#5c69c1" href="{{ chaine_link }}" target="_blank">{{ 'chaine'|capitalize }}</a></li>
                            <li class="entry-category"><a style="background-color:#4ac5db;color:#fff;border-color:#4ac5db" href="{{ chaine_link }}" target="_blank">{{ youtube.0.Channel }}</a></li>
                        </ul>
                        <header class="td-post-title">
                            <h1 class="entry-title ft18">{{ youtube.0.Title }}</h1>
                            <div class="td-module-meta-info">
                                <div class="td-post-author-name">
                                    <div class="td-author-by">{{ 'Par' }}</div>
                                    <a href="{{ chaine_link }}" title="TouslesjoursciTV" target="_blank">{{ youtube.0.Channel }}</a>
                                    <div class="td-author-line"> - </div>
                                </div>
                                <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="{{ youtube.0.Published|date('Y m d hh:mm:ss') }}">{{ youtube.0.Published|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</time></span>
                            </div>
                        </header>
                        <div class="td-a-rec td-a-rec-id-post_style_11  ">
                            <div class="td-visible-desktop">
                                <a href="#"><img class="td-retina td-animation-stack-type0-2" style="max-width:300px" src="http://placehold.it/300x250" alt="" width="300" height="250"></a>
                            </div>
                            <div class="td-visible-tablet-landscape">
                                <a href="#"><img class="td-retina td-animation-stack-type0-2" style="max-width:300px" src="http://placehold.it/300x250" alt="" width="300" height="250"></a>
                            </div>
                            <div class="td-visible-tablet-portrait">
                                <a href="#"><img class="td-retina td-animation-stack-type0-2" style="max-width:468px" src="http://placehold.it/468x60" alt="" width="468" height="60"></a>
                            </div>
                        </div>
                    </div>
                    <div class="td-pb-span8 td-post-featured-video">
                        <!-- player -->
                        <div class="wpb_video_wrapper">
                            <iframe id="td_youtube_player"
                                    width="100%"
                                    height="560"
                                    src="https://www.youtube.com/embed/{{ youtube.0.Id }}?enablejsapi=1&amp;feature=oembed&amp;wmode=opaque&amp;vq=hd720"
                                    frameborder="0" allowfullscreen=""
                                    style="height: 391.5px;">
                            </iframe>
                        </div> <!-- player end -->

                        <div class="td-post-sharing td-post-sharing-top ">
                            <div class="td-default-sharing">
                                <a class="td-social-sharing-buttons td-social-facebook" href="https://www.facebook.com/sharer.php?u={{ url('video_view', { 'id' : youtube.0.Id }) }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
                                    <i class="td-icon-facebook"></i>
                                    <div class="td-social-but-text">{{ 'Partager sur Facebook' }}</div>
                                </a>
                                <a class="td-social-sharing-buttons td-social-twitter" href="https://twitter.com/intent/tweet?text={{ youtube.0.Title }}&amp;url={{ url('video_view', { 'id' : youtube.0.Id }) }}&amp;via=TouslesjoursciTV">
                                    <i class="td-icon-twitter"></i>
                                    <div class="td-social-but-text">{{ 'Tweet on Twitter' }}</div>
                                </a>
                                <a class="td-social-sharing-buttons td-social-google" href="https://plus.google.com/share?url={{ url('video_view', { 'id' : youtube.0.Id }) }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="td-icon-googleplus"></i></a>
                                <a class="td-social-sharing-buttons td-social-pinterest" href="https://pinterest.com/pin/create/button/?url={{ url('video_view', { 'id' : youtube.0.Id }) }}&amp;media={{ youtube.0.Thumb.high.url }}&amp;description={{ youtube.0.Title }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="td-icon-pinterest"></i></a>
                                <a class="td-social-sharing-buttons td-social-whatsapp" href="whatsapp://send?text={{ youtube.0.Title }}-{{ url('video_view', { 'id' : youtube.0.Id }) }}"><i class="td-icon-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="td-video-template-bg-small">
            <div class="td-container">
                <div class="td_block_wrap td_block_related_posts td-related-full-width td_uid_17_590eaa2a1c1e1_rand td_with_ajax_pagination td-pb-border-top td_block_template_1" data-td-block-uid="td_uid_17_590eaa2a1c1e1">
                    <h4 class="td-related-title td-block-title">
                        <a id="td_uid_18_590eaa2a1cae7" class="td-related-left td-cur-simple-item" data-td_filter_value="" data-td_block_id="td_uid_last_video" href="#">{{ 'Dernière video'|upper }}</a>
                    </h4>
                    <div id="td_uid_last_video" class="td_block_inner td_animated_xlong td_fadeInLeft" style="height: auto;">
                        <div class="td-related-row">
                            {% for video in youtube %}
                                {% if not(loop.first)  and loop.index <= 6 %}
                                <div class="td-related-span4">
                                    <div class="td_module_related_posts td-animation-stack td_mod_related_posts">
                                        <div class="td-module-image">
                                            <div class="td-module-thumb">
                                                <a href="{{ url('video_view', { 'id': video.Id }) }}" rel="video" title="{{ video.Title }}">
                                                    <img width="218" height="150" class="entry-thumb td-animation-stack-type0-2" src="{{ video.Thumb.medium.url }}" alt="{{ video.Title }}" title="{{ video.Title }}">
                                                    <span class="td-video-play-ico">
                                                        <img width="40" height="40" class="td-retina td-animation-stack-type0-2" src="{{ asset('images/icons/ico-video-large.png') }}" alt="video">
                                                    </span>
                                                </a>
                                            </div>
                                            <a href="{{ chaine_link }}" class="td-post-category">{{ video.Channel }}</a>
                                        </div>
                                        <div class="item-details">
                                            <h3 class="entry-title td-module-title"><a href="{{ url('video_view', { 'id': video.Id }) }}" rel="video" title="{{ video.Title }}">{{ video.Title }}</a></h3>
                                        </div>
                                    </div>
                                 </div>
                                 {% endif %}
                            {% endfor %}
                            <!-- ./td-related-span4 -->
                        </div>
                        <!--./row-fluid-->
                    </div>
                </div>
            </div>
        </div>
        <div class="td-container">
            <div class="td-pb-row">
                <div class="td-pb-span8 td-main-content" role="main">
                    <div class="td-ss-main-content">
                        <div class="clearfix"></div>
                        <div class="td-block-title-wrap"><h4 class="block-title"><span class="td-pulldown-size">{{ 'Autres videos' }}</span></h4></div>
                        <div class="td-block-row">
                            {% for other in youtube %}
                                {% if loop.index > 6 %}
                                    <div class="td-block-span6 td-min-height">
                                        <div class="td_module_1 td_module_wrap td-animation-stack">
                                            <div class="td-module-image">
                                                <div class="td-module-thumb">
                                                    <a href="{{ url('video_view', { 'id': other.Id }) }}" rel="bookmark" title="{{ other.Title }}">
                                                        <img width="324" height="160" class="entry-thumb td-animation-stack-type0-2" src="{{ other.Thumb.medium.url }}" alt="{{ other.Title }}" title="{{ other.Title }}">
                                                        <span class="td-video-play-ico">
                                                            <img width="40" height="40" class="td-retina td-animation-stack-type0-2" src="{{ asset('images/icons/ico-video-large.png') }}" alt="video">
                                                        </span>
                                                    </a>
                                                </div>
                                                <a href="{{ chaine_link }}" class="td-post-category">{{ other.Channel }}</a>
                                            </div>
                                            <h3 class="entry-title td-module-title">
                                                <a href="{{ url('video_view', {'id': other.Id}) }}" rel="video" title="{{ other.Title }}">{{ other.Title }}</a>
                                            </h3>
                                            <div class="td-module-meta-info">
                                                <span class="td-post-author-name"><a href="{{ chaine_link }}">{{ other.Channel }}</a> <span>-</span>
                                                </span> <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="{{ other.Published|date('Y M d hh:mm:ss') }}">{{ other.Published|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</time></span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <footer>
                            <div class="td-post-source-tags"></div>
                                <span style="display:none" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
                                   <meta itemprop="name" content="{{ youtube.0.Channel }}">
                                </span>
                                <meta itemprop="datePublished" content="{{ youtube.0.Published|date('Y M d hh:mm:ss') }}">
                                <meta itemprop="dateModified" content="{{ youtube.0.Published|date('Y M d hh:mm:ss') }}">
                                <meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="{{ url('video_view', { 'id': youtube.0.Id }) }}">
                                <span style="display:none" itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
                                   <span style="display:none" itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                                      <meta itemprop="url" content="{{ youtube.0.Thumb.high.url }}">
                                   </span>
                                   <meta itemprop="name" content="{{ youtube.0.Title }}">
                                </span>
                                <meta itemprop="headline" content="{{ youtube.0.Title }}">
                                <span style="display:none" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                                   <meta itemprop="url" content="{{ youtube.0.Thumb.high.url }}">
                                   <meta itemprop="width" content="1200">
                                   <meta itemprop="height" content="800">
                                </span>
                        </footer>
                        <div class="comments" id="comments">
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title">{{'commentaires'|capitalize}} <small><a rel="nofollow" id="cancel-comment-reply-link" href="/newspaper/td-post-how-to-make-a-perfect-caffe-macchiato-video/#respond" style="display:none">Cancel reply</a></small></h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        {{ knp_pagination_render(youtube) }}
                        <div class="clearfix"></div>
                        <a href="{{ youtube.0.Channel }}"  class="submit">{{ 'Visitez notre chaîne pour plus de videos' }}</a>
                    </div>
                </div>
                <div class="td-pb-span4 td-main-sidebar" role="complementary">
                    <div class="td-ss-main-sidebar">
                        <div class="td-a-rec td-a-rec-id-sidebar ">
                            <span class="td-adspot-title">- Advertisement -</span>
                            <div class="td-all-devices"><a href="#"><img src="http://placehold.it/350x250"/></a></div>
                        </div>
                        {% include 'LabsFrontBundle:Includes/v1:social-info.html.twig' %}
                        <div class="td_block_wrap td_block_9 td_block_widget td_uid_36_58eb576335107_rand td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_36_58eb576335107" >
                            <div class="td-block-inner" id="block-dossier">
                                <div class="td-block-title-wrap">
                                    <h4 class="block-title"><span class="td-pulldown-size">{{ 'Nos Dossiers'|upper }}</span></h4>
                                    <div class="td-pulldown-syle-default td-subcat-filter" id="td_pulldown_td_uid_34_58eb574baae6f">
                                        <ul class="td-subcat-list" id="td_pulldown_td_uid_34_58eb574baae6f_list2">
                                            <li class="td-subcat-item-2 li-none">
                                                <a class="td-subcat-link"  href="{{ path('dossier_page') }}"><i class="td-icon-views"></i> {{ 'voir tous les dossiers'|capitalize }}</a>
                                            </li>
                                        </ul>
                                        <div class="td-subcat-dropdown">
                                            <div class="td-subcat-more" aria-haspopup="true">
                                                <span>{{ 'voir tous les dossiers'|capitalize }}</span><i class="td-icon-read-down"></i>
                                            </div>
                                            <ul class="td-pulldown-filter-list"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="td_block_wrap td-pb-border-top td_block_template_1">
                                    {{ render(controller(
                                    'LabsFrontBundle:Default:getDossierLimit',
                                    { 'template': 'dossier.html.twig', 'max':4 }
                                    )) }}
                                </div>
                            </div>
                        </div>
                        <!-- ./block -->
                    </div>
                </div>
            </div>
        </div>
    </youtube.0.Title>
{% endif %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/wp.touslesjours.dev\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.3"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <script type="text/javascript">
        var tag=document.createElement("script");tag.src="https://www.youtube.com/iframe_api";var firstScriptTag=document.getElementsByTagName("script")[0];firstScriptTag.parentNode.insertBefore(tag,firstScriptTag);var player;function onYouTubeIframeAPIReady(){player=new YT.Player("td_youtube_player",{height:"720",width:"960",events:{"onReady":onPlayerReady}});}function onPlayerReady(event){player.setPlaybackQuality("hd720");}
    </script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1651341078293386',
                xfbml      : true,
                version    : 'v2.9'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}