{% extends 'LabsAdminBundle::template.html.twig' %}
{% block Title %}  {{ 'Gestion des flash informations'|capitalize }} {% endblock %}
{% block body %}
    <!-- Individual column searching (text inputs) -->
    <!-- START CONTAINER FLUID -->
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
            <span class="text-semibold">{{ flashMessage|capitalize }}</span>
        </div>
    {% endfor %}

    <!-- START PANEL -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Gestion des flash informations</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <a href="{{ path('info_create') }}" class="btn btn-success btn-labeled"><b><i class="icon-plus3"></i></b> Ajouter un flash</a>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            Tableau des Falsh Information créer
        </div>

        <table class="table datatable-column-search-inputs">
            <thead>
            <tr>
                <th>Contenu</th>
                <th>Status</th>
                <th>Date de Mise à jour</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for info in infos %}
                {% if info|length > 0 %}
                    <tr>
                        <td>{{ info.content }}</td>
                        <td>
                            <span class="label {{ (info.online == 1) ? 'label-info' : 'label-danger' }}">
                                 {{ (info.online == 1) ? 'En ligne' : 'Hors Ligne' }}
                            </span>
                        </td>
                        <td>{{ info.updated|date('d, m Y') }}</td>
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="{{ path('info_edit', { 'id' : info.id }) }}"><i class="icon-pencil5"></i>{{ 'Modifier'|capitalize }}</a></li>
                                        <li><a href="{{ path('info_delete',{'id' : info.id} ) }}"><i class="icon-cancel-square2"></i>{{ 'Supprimer'|capitalize }}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /individual column searching (text inputs) -->


{% endblock %}

{% block themes %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/labslimitlesstpl/assets/js/pages/datatables_api.js') }}"></script>
{% endblock %}