{% extends '::base.html.twig' %}
{% block title %}{{ flash.content }}{% endblock %}
{% block meta %}
    <link rel="canonical" href="{{ url('flash_view', { 'id': flash.id }) }}" />
    <!-- sample facbook meta tags -->
    <meta property="og:url" content="{{ url('flash_view', { 'id': flash.id }) }}" />
    <meta property="og:title" content="{{ flash.content }}" />
    <meta property="og:type" content="flash" />
    <meta property="og:description" content="{{ flash.content|truncate(200, true, '...')|striptags }}" />
    <meta property="og:image"  content="{{ absolute_url(asset('images/flash-info.jpg')) }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:site_name"  content="{{ 'touslesjours CI' }}" />
    <meta property="og:locale"  content="fr_FR"/>
    <meta property="og:updated_time" content="{{ flash.created|date('d, m Y') }}" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:rich_attachment" content="true" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="fb:app_id" content="1651341078293386">
    <!--- sample twitter card meta tags --->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@touslesjoursci">
    <meta name="twitter:creator" content="@touslesjoursci">
    <meta name="twitter:title" content="{{ flash.content }}">
    <meta name="twitter:description" content="{{ flash.content|truncate(140, true, '...')|striptags|raw }}">
    <meta name="twitter:image" content="{{ absolute_url(asset('images/flash-info.jpg') ) }}">
    <meta name="twitter:image:alt" content="{{ flash.content }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('social/css/rrssb.css') }}">
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="td-main-content-wrap td-main-page-wrap">
        <div class="td-container td-post-template-default">
            <!-- flash information section -->
            {{ render(controller(
            'LabsFrontBundle:Default:getflashInfos',
            { 'template': 'flash_info.html.twig', 'max': 6 }
            )) }}
            <!-- breadcrumbs information section -->
            <div class="td-crumb-container">
                <div class="entry-crumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <span class="td-bred-first"><a href="{{ path('homepage') }}">{{ 'Accueil'|capitalize }}</a></span>
                    <i class="td-icon-right td-bread-sep"></i>
                    <span itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        <a title="View all posts in Video" class="entry-crumb" itemscope itemprop="item" itemtype="http://schema.org/Thing" href="{{ path('flash_view', {'id': flash.id }) }}">
                            <span itemprop="name">{{ flash.content|truncate('10', true, '...') }}</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </span>
                </div>
            </div>
            <!-- content -->
            <div class="td-pb-row">
                <div class="td-pb-span8 td-main-content" role="main">
                    <div class="td-ss-main-content">
                        <article id="post-117" class="post-117 post type-post status-publish format-standard has-post-thumbnail hentry category-video" itemscope itemtype="http://schema.org/Article">
                            <div class="td-post-header">
                                <ul class="td-category">
                                    <li class="entry-category"><a  style="background-color:#d91804; color:#fff; border-color:#d91804;" href="#">{{ 'flash'|upper }}</a></li>
                                </ul>
                                <header class="td-post-title">
                                    <div class="td-module-meta-info">
                                        <div class="td-post-author-name">
                                            <div class="td-author-by">{{ 'par'|capitalize }}</div>
                                            <a href="">{{ 'tlj'|upper }}</a>
                                            <div class="td-author-line"> - </div>
                                        </div>
                                        <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="{{ flash.created.date }}" >{{ flash.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }} </time></span>
                                        <!--<div class="td-post-comments"><a href="index.html#respond"><i class="td-icon-comments"></i>0</a></div>
                                        <div class="td-post-views"><i class="td-icon-views"></i><span class="td-nr-views-117">1</span></div> -->
                                    </div>
                                </header>
                            </div>
                            <div class="td-post-sharing td-post-sharing-top">
                                <div class="td-default-sharing">
                                    <a class="td-social-sharing-buttons td-social-facebook" href="https://www.facebook.com/sharer.php?u={{ url('flash_view',{'id': flash.id}) }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
                                        <i class="td-icon-facebook"></i>
                                        <div class="td-social-but-text">Partage sur Facebook</div>
                                    </a>
                                    <a class="td-social-sharing-buttons td-social-twitter" href="https://twitter.com/intent/tweet?text={{ flash.content }}&amp;url={{ url('flash_view',{'id': flash.id}) }}&amp;via=@touslesjoursci">
                                        <i class="td-icon-twitter"></i>
                                        <div class="td-social-but-text">Tweet sur Twitter</div>
                                    </a>
                                    <a class="td-social-sharing-buttons td-social-google" href="https://plus.google.com/share?url={{ url('flash_view',{'id': flash.id}) }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="td-icon-googleplus"></i></a>
                                    <a class="td-social-sharing-buttons td-social-pinterest" href="https://pinterest.com/pin/create/button/?url={{ url('flash_view',{'id': flash.id}) }}&amp;media={{ absolute_url(asset('images/flash-info.jpg')) }}&amp;description={{ flash.content }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="td-icon-pinterest"></i></a>
                                    <a class="td-social-sharing-buttons td-social-whatsapp" href="whatsapp://send?text={{ flash.content }}-{{ url('flash_view',{'id': flash.id}) }}"><i class="td-icon-whatsapp"></i></a>
                                </div>
                            </div>
                            <div class="td-post-content td_module_mx8">
                                <div class="flash-infos">
                                    <span class="ft19 pb10" style="display: block; color: #fff; font-weight: bold;">{{ 'urgent'|upper }} | {{ flash.created|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</span>
                                    <p class="ft30" style="text-align: justify;">{{ flash.content }}</p>
                                </div>
                                <!-- pub -->
                                <!--<div class="td-a-rec td-a-rec-id-content_bottom  ">
                                    <div class="td-all-devices"><a href="#"><img src="../../../../wp-content/uploads/2017/04/rec728-1.jpg"/></a></div>
                                </div>-->
                            </div>
                            <footer>
                                <div class="td-post-source-tags">
                                </div>
                                <div class="td-post-sharing td-post-sharing-bottom td-with-like">
                                    <span class="td-post-share-title">{{ 'partager sur les reseaux'|upper }}</span>
                                    <div class="td-default-sharing">
                                        <a class="td-social-sharing-buttons td-social-facebook" href="https://www.facebook.com/sharer.php?u={{ url('flash_view',{'id': flash.id}) }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
                                            <i class="td-icon-facebook"></i>
                                            <div class="td-social-but-text">Partager sur Facebook</div>
                                        </a>
                                        <a class="td-social-sharing-buttons td-social-twitter" href="https://twitter.com/intent/tweet?text={{ flash.content }}&amp;url={{ url('flash_view',{'id': flash.id}) }}&amp;via=@touslesjoursci">
                                            <i class="td-icon-twitter"></i>
                                            <div class="td-social-but-text">Partager sur Twitter</div>
                                        </a>
                                        <a class="td-social-sharing-buttons td-social-google" href="https://plus.google.com/share?url={{ url('flash_view',{'id': flash.id}) }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="td-icon-googleplus"></i></a>
                                        <a class="td-social-sharing-buttons td-social-pinterest" href="https://pinterest.com/pin/create/button/?url={{ url('flash_view',{'id': flash.id}) }}&amp;media={{ absolute_url(asset('images/flash-info.jpg')) }}&amp;description={{ flash.content }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i class="td-icon-pinterest"></i></a>
                                        <a class="td-social-sharing-buttons td-social-whatsapp" href="whatsapp://send?text={{ flash.content }}-{{ url('flash_view',{'id': flash.id}) }}"><i class="td-icon-whatsapp"></i></a>
                                    </div>
                                    <div class="td-classic-sharing">
                                        <ul>
                                            <li class="td-classic-facebook"><iframe frameBorder="0" src="http://www.facebook.com/plugins/like.php?href={{ url('flash_view',{'id': flash.id}) }}&amp;layout=button_count&amp;show_faces=false&amp;width=105&amp;action=like&amp;colorscheme=light&amp;height=21" style="border:none; overflow:hidden; width:105px; height:21px; background-color:transparent;"></iframe></li>
                                            <li class="td-classic-twitter">
                                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url('flash_view',{'id': flash.id}) }}" data-text="{{ flash.content }}" data-via="@touslesjoursci" data-lang="fr">tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--<div class="author-box-wrap">
                                    <a href="../../../../author/admin/index.html"><img alt='' src='http://2.gravatar.com/avatar/896e2835bbe660a1c39776e9b222e4b5?s=96&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/896e2835bbe660a1c39776e9b222e4b5?s=192&amp;d=mm&amp;r=g 2x' class='avatar avatar-96 photo' height='96' width='96' /></a>
                                    <div class="desc">
                                        <div class="td-author-name vcard author"><span class="fn"><a href="../../../../author/admin/index.html">admin</a></span></div>
                                        <div class="td-author-description"></div>
                                        <div class="td-author-social"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div> -->
                                <!--<span style="display: none;" itemprop="author" itemscope itemtype="https://schema.org/Person">
                                    <meta itemprop="name" content="admin">
                                </span>-->
                                <meta itemprop="datePublished" content="{{ flash.created.date }}">
                                <meta itemprop="dateModified" content="{{ flash.updated.date }}">
                                <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ url('flash_view',{'id': flash.id}) }}"/>
                                    <span style="display: none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                                       <span style="display: none;" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                          <meta itemprop="url" content="{{ asset('images/resource/logo.png') }}">
                                       </span>
                                       <meta itemprop="name" content="{{ flash.content|raw }}">
                                    </span>
                                <meta itemprop="headline " content="{{ flash.content }}">
                                    <span style="display: none;" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                                       <meta itemprop="url" content="{{ absolute_url(asset('images/flash-info.jpg')) }}">
                                       <meta itemprop="width" content="600">
                                       <meta itemprop="height" content="315">
                                    </span>
                            </footer>
                        </article>
                        <!-- /.post -->
                        <div class="td_block_wrap td_block_related_posts td_uid_31_58eb57632aa45_rand td_with_ajax_pagination td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_31_58eb57632aa45">
                            <h4 class="td-related-title td-block-title">
                                <a id="td_uid_32_58eb57632c31a" class="td-related-left td-cur-simple-item" data-td_filter_value="" data-td_block_id="td_uid_31_58eb57_comment" href="#">{{ 'Laissez un commentaire et partager'|upper }}</a>
                            </h4>
                            <div class="comments" id="comments">
                                <div id="respond" class="comment-respond">
                                    <div class="fb-comments" data-href="{{ url('flash_view', { 'id': flash.id }) }}" data-numposts="5"></div>
                                </div>
                                <!-- #respond -->
                            </div>
                            <!-- /.content -->
                        </div> <!-- /.commentaire -->

                        <div class="td_block_wrap td_block_related_posts td_uid_31_58eb57632aa45_rand td_with_ajax_pagination td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_31_58eb57632aa45">
                            <h4 class="td-related-title td-block-title">
                                <a id="td_uid_32_58eb57632c31a" class="td-related-left td-cur-simple-item" data-td_filter_value="" data-td_block_id="td_uid_31_58eb57632aa45" href="#">{{ 'autres articles'|upper }}</a>
                            </h4>
                            <div id=td_uid_31_58eb57632aa45 class="td_block_inner">
                                <div class="td-related-row">
                                    {% for post in old %}
                                        <div class="td-related-span4">
                                            <div class="td_module_related_posts td-animation-stack td_mod_related_posts">
                                                <div class="td-module-image">
                                                    <div class="td-module-thumb"><a href="{{ path('page_view', {'slug':post.slug}) }}" rel="{{ post.item.name }}" title="{{ post.name }}">
                                                            {% for m in post.medias %}
                                                                <img width="218" height="150" class="entry-thumb" src="{{ m.assertPath|imagine_filter('thumb_article_old') }}" srcset="{{ absolute_url(asset(m.assertPath)) }} 218w, {{ absolute_url(asset(m.assertPath)) }} 100w" sizes="(max-width: 218px) 100vw, 218px" alt="" title="{{ post.name }}"/>
                                                            {% endfor %}
                                                        </a>
                                                    </div>
                                                    <a href="{{ path('front_item_page', {'rubrique':post.item.section.slug, 'slug': post.item.slug}) }}" class="td-post-category">{{ post.item.name }}</a>
                                                </div>
                                                <div class="item-details">
                                                    <h3 class="entry-title td-module-title">
                                                        <a href="{{ path('page_view', {'slug':post.slug}) }}" rel="{{ post.item.name }}" title="{{ post.name }}">{{ post.name }}</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!--./row-fluid-->
                            </div>
                        </div>
                        <!-- ./block -->
                    </div>
                </div>
                <div class="td-pb-span4 td-main-sidebar" role="complementary">
                    <div class="td-ss-main-sidebar">
                        <div class="td-a-rec td-a-rec-id-sidebar ">
                            <span class="td-adspot-title">- Advertisement -</span>
                            <div class="td-all-devices"><a href="#"><img src="{{ asset('images/journal.jpg') }}"/></a></div>
                        </div>
                        <div class="td_block_wrap td_block_18 td_block_widget td_uid_35_58eb576330145_rand td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_35_58eb576330145" >
                            <div class="td-block-title-wrap">
                                <h4 class="block-title"><span class="td-pulldown-size">{{ 'Nos Dossiers'|upper }}</span></h4>
                                <div class="td-pulldown-syle-default td-subcat-filter" id="td_pulldown_td_uid_34_58eb574baae6f">
                                    <ul class="td-subcat-list" id="td_pulldown_td_uid_34_58eb574baae6f_list2">
                                        <li class="td-subcat-item-2 li-none">
                                            <a class="td-subcat-link"  href="{{ path('dossier_page') }}"><i class="td-icon-views"></i> {{ 'voir tous les dossiers'|capitalize }}</a>
                                        </li>
                                    </ul>
                                    <div class="td-subcat-dropdown">
                                        <div class="td-subcat-more" aria-haspopup="true">
                                            <span>{{ 'voir tous les dossiers'|capitalize }}</span><i class="td-icon-read-down"></i>
                                        </div>
                                        <ul class="td-pulldown-filter-list"></ul>
                                    </div>
                                </div>
                            </div>
                            <div id=td_uid_35_58eb576330145 class="td_block_inner td-column-1">
                                {{ render(controller(
                                'LabsFrontBundle:Default:getDossierLimit',
                                { 'template': 'dossier.html.twig', 'max':4 }
                                )) }}
                            </div>
                        </div>
                        <!-- ./block -->
                        <div class="td_block_wrap td_block_9 td_block_widget td_uid_36_58eb576335107_rand td_with_ajax_pagination td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_36_58eb576335107" >
                            <div class="td-block-title-wrap">
                                <h4 class="block-title"><span class="td-pulldown-size">{{ 'Nos videos'|upper }}</span></h4>
                                <div class="td-pulldown-syle-default td-subcat-filter" id="td_pulldown_td_uid_34_58eb574baae6f">
                                    <ul class="td-subcat-list" id="td_pulldown_td_uid_34_58eb574baae6f_list2">
                                        <li class="td-subcat-item-2 li-none">
                                            <a class="td-subcat-link"  href="{{ path('videos_page') }}"><i class="td-icon-views"></i> {{ 'voir toutes les videos'|capitalize }}</a>
                                        </li>
                                    </ul>
                                    <div class="td-subcat-dropdown">
                                        <div class="td-subcat-more" aria-haspopup="true">
                                            <span>{{ 'voir toutes les videos'|capitalize }}</span><i class="td-icon-read-down"></i>
                                        </div>
                                        <ul class="td-pulldown-filter-list"></ul>
                                    </div>
                                </div>
                            </div>
                            <div id=td_uid_36_58eb576335107 class="td_block_inner">
                                {{ render(controller('LabsFrontBundle:Default:getSideBarvideo')) }}
                            </div>
                        </div>
                        <!-- ./block -->
                    </div>
                </div>
            </div>
            <!-- /.td-pb-row -->
        </div>
        <!-- /.td-container -->
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/wp.touslesjours.dev\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.3"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1651341078293386',
                xfbml      : true,
                version    : 'v2.9'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9&appId=1651341078293386";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}