{% extends '::base.html.twig' %}
{% block title %}{{ 'TousLesJours.ci - Actualités et Infos en Côte d\'ivoire et dans le monde' }}{% endblock %}
{% block meta_refresh %}
    <meta http-equiv="refresh" content="120">
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="td-main-content-wrap td-main-page-wrap">
        <div class="td-container tdc-content-wrap">
            <!-- flash information section -->
            {{ render(controller(
            'LabsFrontBundle:Default:getflashInfos',
            { 'template': 'flash_info.html.twig', 'max': 6 }
            )) }}
            <div class="vc_row wpb_row td-pb-row">
                <div class="wpb_column vc_column_container td-pb-span8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            {% for post in recent %}
                                {% if loop.first %}
                                    <div class="td_block_wrap td_block_18 td_uid_31_58eb574db0676_rand td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_31_58eb574db0676" >

                                        <div class="td-block-title-wrap">
                                            <h2 class="title">
                                                <a href="{{ path('page_view', { 'slug': post.slug }) }}" title="{{ post.name }}" rel="{{ post.item.name }}">{{ post.name }}</a>
                                            </h2>
                                        </div>

                                        <div id="{{ post.slug }}" class="td_block_inner td-column-2">
                                            <div class="td_module_mx8 td_module_wrap td-animation-stack">
                                                <div class="meta-info-container">
                                                    <div class="td-module-thumb">
                                                        <a href="{{ path('page_view', { 'slug': post.slug }) }}" rel="bookmark" title="{{ post.name }}">
                                                            {% for media in post.medias %}
                                                                <img width="696" height="385" class="entry-thumb" src="{{ media.assertPath|imagine_filter('thumb_top') }}" alt="{{ post.name }}" title="{{ post.name }}"
                                                                     srcset="{{ media.assertPath|imagine_filter('thumb_top') }} 100w, {{ media.assertPath|imagine_filter('thumb_top') }} 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="{{ post.name }}"/>
                                                            {% endfor %}
                                                            {% if  post.types is not empty %}
                                                                {% if  post.types == 0 %}
                                                                    <span class="td-video-play-ico">
                                                                        <img width="40" height="40" class="td-retina" src="{{ asset('images/icons/ico-video-large.png') }}" alt="video - {{ post.name }}"/>
                                                                    </span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </a>
                                                    </div>

                                                    <div class="td-module-meta-info">
                                                        <h6 class="entry-title td-module-title">
                                                            <img src="{{ asset('favicon/favicon-16x16.png') }}" alt="{{ post.name }}" style="vertical-align: middle">
                                                            <a class="ft14" title="{{ post.legend }}"> {{ post.legend }}</a>
                                                        </h6>
                                                        <span class="td-author-date">
                                                            <span class="td-post-author-name"><a href="">Par TLJ</a> <span>-</span> </span>
                                                            <span class="td-post-date"><time class="entry-date timeago updated td-module-date" datetime="{{ post.created.date }}" title="{{ post.created.date }}">{{ post.created|date('m d, Y') }}</time></span>
                                                            <!--<div class="td-module-comments"><a href="../2017/04/09/moogle-corp-company-you-might-be-working-for/index.html#respond">0</a></div>-->
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <!-- block-top-in-moment -->
                            <div class="td-block-title-wrap">
                                <h4 class="block-title">
                                    <span class="td-pulldown-size">{{ 'en ce moment'|upper }}</span>
                                </h4>
                                <div class="td-pulldown-syle-default td-subcat-filter" id="td_pulldown_td_uid_34_58eb574baae6f">
                                    <ul class="td-subcat-list" id="td_pulldown_td_uid_34_58eb574baae6f_list">
                                        <li class="td-subcat-item">
                                            <a class="td-subcat-link" id="l_uid_35_58eb574bac572" href="#">{{ 'voir toutes l\'actualité du jour'|capitalize }}</a>
                                        </li>
                                    </ul>
                                    <div class="td-subcat-dropdown">
                                        <div class="td-subcat-more" aria-haspopup="true">
                                            <span>Live du moment</span><i class="td-icon-read-down"></i>
                                        </div>
                                        <ul class="td-pulldown-filter-list"></ul>
                                    </div>
                                </div>
                            </div>

                            <!-- top-block -->
                            <div id='block-moment' class="td_block_inner">
                                <div class="td-block-row">
                                    {% for articles in recent %}
                                        {% if loop.index > 1 and loop.index <= 9 %}
                                            <div class="td-block-span6 td-min-height">
                                                <div class="td_module_2 td_module_wrap td-animation-stack">
                                                    <div class="td-module-image">
                                                        <div class="td-module-thumb">
                                                            <a href="{{ path('page_view', {'slug' : articles.slug}) }}" rel="{{ articles.item.name }}" title="{{ articles.name }}">
                                                                {% for media in articles.medias %}
                                                                    <img width="324" height="160" class="entry-thumb" src="{{ media.assertPath|imagine_filter('thumb_top_bottom') }}" srcset="{{ media.assertPath|imagine_filter('thumb_top_bottom') }} 324w, {{ media.assertPath|imagine_filter('thumb_top_bottom') }} 533w" sizes="(max-width: 324px) 100vw, 324px" alt="{{ articles.name }}" title="{{ articles.name }}"/>
                                                                {% endfor %}
                                                                {% if  articles.types is not empty %}
                                                                    {% if  articles.types == 0 %}
                                                                        <span class="td-video-play-ico">
                                                                            <img width="40" height="40" class="td-retina" src="{{ asset('images/icons/ico-video-large.png') }}" alt="video - {{ articles.name }}"/>
                                                                        </span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                        <a href="{{ path('front_item_page', { 'rubrique': articles.item.section.slug, 'slug':articles.item.slug }) }}" class="td-post-category">{{ articles.item.name }}</a>
                                                    </div>
                                                    <h3 class="entry-title td-module-title"><a href="../2017/04/09/i-built-an-app-that-does-triangulation-of-points-on-the-earth/index.html" rel="{{ articles.item.name }}" title="{{ articles.name }}"> {{ articles.name|truncate('50', true, '...') }}</a></h3>
                                                    <div class="td-module-meta-info">
                                                        <span class="td-post-author-name">
                                                            <img src="{{ asset('favicon/favicon-16x16.png') }}" alt="{{ articles.name }}" style="vertical-align: middle">
                                                            <a href="">{{ 'par tlj'|upper }}</a> <span>-</span>
                                                        </span>
                                                        <span class="td-post-date"><time class="entry-date timeago updated td-module-date" datetime="{{ articles.created.date }}" title="{{ articles.created.date }}">{{ articles.created|date('m d, Y') }}</time></span>
                                                        <!--<div class="td-module-comments"><a href=link#respond">0</a></div>-->
                                                    </div>
                                                    <div class="td-excerpt">
                                                        {{ articles.content|truncate('150', false, '...')|striptags }}
                                                    </div>
                                                </div>
                                            </div> <!-- ./td-block-span6 -->
                                        {% endif %}
                                    {% endfor %}
                                </div> <!-- ./td-block-row -->

                                <div class="td-block-row">

                                {% for arts in recent %}
                                    {% if loop.index > 9 %}
                                    <div class="td-block-span6">
                                        <div class="td_module_6 td_module_wrap td-animation-stack">
                                            <div class="td-module-thumb">
                                                <a href="{{ path('page_view', {'slug' : arts.slug}) }}" rel="{{ arts.item.name }}" title="{{ arts.name }}">
                                                    {% for media in arts.medias %}
                                                        <img width="100" height="70" class="entry-thumb" src="{{ media.assertPath|imagine_filter('thumb_top_small') }}" srcset="{{ media.assertPath|imagine_filter('thumb_top_small') }} 100w, {{ media.assertPath|imagine_filter('thumb_top_small') }} 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="{{ arts.name }}"/>
                                                    {% endfor %}
                                                </a>
                                            </div>
                                            <div class="item-details">
                                                <h3 class="entry-title td-module-title">
                                                    <a href="{{ path('page_view', {'slug' : arts.slug}) }}" rel="{{ arts.item.name }}" title="{{ arts.name }}">{{ arts.name|truncate('50', false,'...') }}</a>
                                                </h3>
                                                <div class="td-module-meta-info">
                                                    <span class="td-post-date"><time class="entry-date timeago updated td-module-date" datetime="{{ arts.created.date }}" title="{{ arts.created.date }}">{{ arts.created|date('m d, Y') }}</time></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- ./td-block-span6 -->
                                    {% endif %}
                                {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container td-pb-span4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <!-- block network information -->
                                {% include('LabsFrontBundle:Includes/v1:social-info.html.twig') %}
                            <!-- end block network information -->
                            <!-- block last time -->
                                <div class="td_block_wrap td-pb-border-top td_block_template_1">
                                    {{ render(controller(
                                        'LabsFrontBundle:Default:getflashInfos',
                                        { 'template': 'flash_info_sidebar.html.twig', 'max':5 }
                                    )) }}
                                </div>
                            <!-- end block last time -->

                            <!-- block last folder -->
                            <div class="td_block_wrap td-pb-border-top td_block_template_1">
                                {{ render(controller('LabsFrontBundle:Default:getDossierInfo')) }}
                            </div>

                            <!-- block last Rubriques -->
                            <div class="td-block-title-wrap">
                                <h4 class="block-title"><span class="td-pulldown-size">{{ 'Rubrique day'|upper }}</span></h4>
                            </div>

                            <!-- block last Rubriques -->
                            <div class="td_block_wrap td-pb-border-top td_block_template_1">
                                {{ render(controller('LabsFrontBundle:Default:getSideBarvideo')) }}
                            </div>

                        </div>
                    </div>

                </div>
                <div class="wpb_column vc_column_container td-pb-span12">
                    <div class="td-block-title-wrap"><h4 class="block-title"><span class="td-pulldown-size">TECH AND GADGETS</span></h4><div class="td-pulldown-syle-default td-subcat-filter" id="td_pulldown_td_uid_49_58eb574bb35cd"><ul class="td-subcat-list" id="td_pulldown_td_uid_49_58eb574bb35cd_list"><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_50_58eb574bb55da" data-td_filter_value="" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">All</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_51_58eb574bb5656" data-td_filter_value="13" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Business</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_52_58eb574bb56cc" data-td_filter_value="6" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Fashion</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_53_58eb574bb5741" data-td_filter_value="2" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Featured</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_54_58eb574bb57b6" data-td_filter_value="11" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Gadgets</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_55_58eb574bb582b" data-td_filter_value="14" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Health &amp; Fitness</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_56_58eb574bb58a3" data-td_filter_value="12" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Lifestyle</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_57_58eb574bb5923" data-td_filter_value="7" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">New Look 2015</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_58_58eb574bb5985" data-td_filter_value="15" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Recipes</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_59_58eb574bb5b52" data-td_filter_value="8" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Street Fashion</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_60_58eb574bb5bd1" data-td_filter_value="9" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Style Hunter</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_61_58eb574bb5c40" data-td_filter_value="16" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Travel</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_62_58eb574bb5c83" data-td_filter_value="17" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Video</a></li><li class="td-subcat-item"><a class="td-subcat-link" id="td_uid_63_58eb574bb5cb6" data-td_filter_value="10" data-td_block_id="td_uid_49_58eb574bb35cd" href="#">Vogue</a></li></ul><div class="td-subcat-dropdown"><div class="td-subcat-more" aria-haspopup="true"><span>More</span><i class="td-icon-read-down"></i></div><ul class="td-pulldown-filter-list"></ul></div></div></div><div id=td_uid_49_58eb574bb35cd class="td_block_inner">

                        <div class="td-block-row">

                            <div class="td-block-span4">

                                <div class="td_module_4 td_module_wrap td-animation-stack">
                                    <div class="td-module-image">
                                        <div class="td-module-thumb"><a href="../2017/04/09/how-to-use-basic-design-principles-to-decorate-your-home/index.html" rel="bookmark" title="How To Use Basic Design Principles To Decorate Your Home"><img width="324" height="235" class="entry-thumb" src="../wp-content/uploads/2017/04/16-1-324x235.jpg" alt="" title="How To Use Basic Design Principles To Decorate Your Home"/></a></div>                <a href="../category/video/index.html" class="td-post-category">Video</a>            </div>

                                    <h3 class="entry-title td-module-title"><a href="../2017/04/09/how-to-use-basic-design-principles-to-decorate-your-home/index.html" rel="bookmark" title="How To Use Basic Design Principles To Decorate Your Home">How To Use Basic Design Principles To Decorate Your Home</a></h3>
                                    <div class="td-module-meta-info">
                                        <span class="td-post-author-name"><a href="../author/admin/index.html">admin</a> <span>-</span> </span>                <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="2017-04-09T17:24:58+00:00" >9 avril 2017</time></span>                <div class="td-module-comments"><a href="../2017/04/09/how-to-use-basic-design-principles-to-decorate-your-home/index.html#respond">0</a></div>            </div>

                                    <div class="td-excerpt">
                                        The model is talking about booking her latest gig, modeling WordPress underwear in the brand latest Perfectly Fit campaign, which was shot by Lachian...            </div>


                                </div>


                            </div> <!-- ./td-block-span6 -->

                            <div class="td-block-span4">

                                <div class="td_module_6 td_module_wrap td-animation-stack">

                                    <div class="td-module-thumb"><a href="../2017/04/09/my-microwave-is-too-small-to-fit-the-microwave-popcorn-bag/index.html" rel="bookmark" title="My microwave is too small to fit the microwave popcorn bag"><img width="100" height="70" class="entry-thumb" src="../wp-content/uploads/2017/04/12-1-100x70.jpg" srcset="http://wp.touslesjours.dev/wp-content/uploads/2017/04/12-1-100x70.jpg 100w, http://wp.touslesjours.dev/wp-content/uploads/2017/04/12-1-218x150.jpg 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="My microwave is too small to fit the microwave popcorn bag"/></a></div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="../2017/04/09/my-microwave-is-too-small-to-fit-the-microwave-popcorn-bag/index.html" rel="bookmark" title="My microwave is too small to fit the microwave popcorn bag">My microwave is too small to fit the microwave popcorn bag</a></h3>            <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="2017-04-09T17:24:54+00:00" >9 avril 2017</time></span>                            </div>
                                    </div>

                                </div>


                                <div class="td_module_6 td_module_wrap td-animation-stack">

                                    <div class="td-module-thumb"><a href="../2017/04/09/sandbox-to-try-out-the-code-written-in-almost-all-languages/index.html" rel="bookmark" title="Sandbox to try out the code written in almost all languages"><img width="100" height="70" class="entry-thumb" src="../wp-content/uploads/2017/04/12-1-100x70.jpg" srcset="http://wp.touslesjours.dev/wp-content/uploads/2017/04/12-1-100x70.jpg 100w, http://wp.touslesjours.dev/wp-content/uploads/2017/04/12-1-218x150.jpg 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="Sandbox to try out the code written in almost all languages"/></a></div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="../2017/04/09/sandbox-to-try-out-the-code-written-in-almost-all-languages/index.html" rel="bookmark" title="Sandbox to try out the code written in almost all languages">Sandbox to try out the code written in almost all languages</a></h3>            <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="2017-04-09T17:24:55+00:00" >9 avril 2017</time></span>                            </div>
                                    </div>

                                </div>


                                <div class="td_module_6 td_module_wrap td-animation-stack">

                                    <div class="td-module-thumb"><a href="../2017/04/09/ssl-connectivity-for-all-central-repository-users-underway/index.html" rel="bookmark" title="SSL Connectivity for all Central Repository users Underway"><img width="100" height="70" class="entry-thumb" src="../wp-content/uploads/2017/04/1-1-100x70.jpg" srcset="http://wp.touslesjours.dev/wp-content/uploads/2017/04/1-1-100x70.jpg 100w, http://wp.touslesjours.dev/wp-content/uploads/2017/04/1-1-218x150.jpg 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="SSL Connectivity for all Central Repository users Underway"/></a></div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="../2017/04/09/ssl-connectivity-for-all-central-repository-users-underway/index.html" rel="bookmark" title="SSL Connectivity for all Central Repository users Underway">SSL Connectivity for all Central Repository users Underway</a></h3>            <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="2017-04-09T17:24:55+00:00" >9 avril 2017</time></span>                            </div>
                                    </div>

                                </div>


                                <div class="td_module_6 td_module_wrap td-animation-stack">

                                    <div class="td-module-thumb"><a href="../2017/04/09/workout-routine-for-big-forearms-and-a-crushing-grip/index.html" rel="bookmark" title="Workout Routine for Big Forearms and a Crushing Grip"><img width="100" height="70" class="entry-thumb" src="../wp-content/uploads/2017/04/5-1-100x70.jpg" srcset="http://wp.touslesjours.dev/wp-content/uploads/2017/04/5-1-100x70.jpg 100w, http://wp.touslesjours.dev/wp-content/uploads/2017/04/5-1-218x150.jpg 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="Workout Routine for Big Forearms and a Crushing Grip"/></a></div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="../2017/04/09/workout-routine-for-big-forearms-and-a-crushing-grip/index.html" rel="bookmark" title="Workout Routine for Big Forearms and a Crushing Grip">Workout Routine for Big Forearms and a Crushing Grip</a></h3>            <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="2017-04-09T17:24:57+00:00" >9 avril 2017</time></span>                            </div>
                                    </div>

                                </div>


                            </div> <!-- ./td-block-span6 -->
                            <div class="td-block-span4">

                                <div class="td_module_6 td_module_wrap td-animation-stack">

                                    <div class="td-module-thumb"><a href="../2017/04/09/my-microwave-is-too-small-to-fit-the-microwave-popcorn-bag/index.html" rel="bookmark" title="My microwave is too small to fit the microwave popcorn bag"><img width="100" height="70" class="entry-thumb" src="../wp-content/uploads/2017/04/12-1-100x70.jpg" srcset="http://wp.touslesjours.dev/wp-content/uploads/2017/04/12-1-100x70.jpg 100w, http://wp.touslesjours.dev/wp-content/uploads/2017/04/12-1-218x150.jpg 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="My microwave is too small to fit the microwave popcorn bag"/></a></div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="../2017/04/09/my-microwave-is-too-small-to-fit-the-microwave-popcorn-bag/index.html" rel="bookmark" title="My microwave is too small to fit the microwave popcorn bag">My microwave is too small to fit the microwave popcorn bag</a></h3>            <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="2017-04-09T17:24:54+00:00" >9 avril 2017</time></span>                            </div>
                                    </div>

                                </div>


                                <div class="td_module_6 td_module_wrap td-animation-stack">

                                    <div class="td-module-thumb"><a href="../2017/04/09/sandbox-to-try-out-the-code-written-in-almost-all-languages/index.html" rel="bookmark" title="Sandbox to try out the code written in almost all languages"><img width="100" height="70" class="entry-thumb" src="../wp-content/uploads/2017/04/12-1-100x70.jpg" srcset="http://wp.touslesjours.dev/wp-content/uploads/2017/04/12-1-100x70.jpg 100w, http://wp.touslesjours.dev/wp-content/uploads/2017/04/12-1-218x150.jpg 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="Sandbox to try out the code written in almost all languages"/></a></div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="../2017/04/09/sandbox-to-try-out-the-code-written-in-almost-all-languages/index.html" rel="bookmark" title="Sandbox to try out the code written in almost all languages">Sandbox to try out the code written in almost all languages</a></h3>            <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="2017-04-09T17:24:55+00:00" >9 avril 2017</time></span>                            </div>
                                    </div>

                                </div>


                                <div class="td_module_6 td_module_wrap td-animation-stack">

                                    <div class="td-module-thumb"><a href="../2017/04/09/ssl-connectivity-for-all-central-repository-users-underway/index.html" rel="bookmark" title="SSL Connectivity for all Central Repository users Underway"><img width="100" height="70" class="entry-thumb" src="../wp-content/uploads/2017/04/1-1-100x70.jpg" srcset="http://wp.touslesjours.dev/wp-content/uploads/2017/04/1-1-100x70.jpg 100w, http://wp.touslesjours.dev/wp-content/uploads/2017/04/1-1-218x150.jpg 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="SSL Connectivity for all Central Repository users Underway"/></a></div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="../2017/04/09/ssl-connectivity-for-all-central-repository-users-underway/index.html" rel="bookmark" title="SSL Connectivity for all Central Repository users Underway">SSL Connectivity for all Central Repository users Underway</a></h3>            <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="2017-04-09T17:24:55+00:00" >9 avril 2017</time></span>                            </div>
                                    </div>

                                </div>


                                <div class="td_module_6 td_module_wrap td-animation-stack">

                                    <div class="td-module-thumb"><a href="../2017/04/09/workout-routine-for-big-forearms-and-a-crushing-grip/index.html" rel="bookmark" title="Workout Routine for Big Forearms and a Crushing Grip"><img width="100" height="70" class="entry-thumb" src="../wp-content/uploads/2017/04/5-1-100x70.jpg" srcset="http://wp.touslesjours.dev/wp-content/uploads/2017/04/5-1-100x70.jpg 100w, http://wp.touslesjours.dev/wp-content/uploads/2017/04/5-1-218x150.jpg 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="Workout Routine for Big Forearms and a Crushing Grip"/></a></div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="../2017/04/09/workout-routine-for-big-forearms-and-a-crushing-grip/index.html" rel="bookmark" title="Workout Routine for Big Forearms and a Crushing Grip">Workout Routine for Big Forearms and a Crushing Grip</a></h3>            <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="2017-04-09T17:24:57+00:00" >9 avril 2017</time></span>                            </div>
                                    </div>

                                </div>


                            </div> <!-- ./td-block-span6 -->
                        </div><!--./row-fluid--></div><div class="td-next-prev-wrap"><a href="#" class="td-ajax-prev-page ajax-page-disabled" id="prev-page-td_uid_49_58eb574bb35cd" data-td_block_id="td_uid_49_58eb574bb35cd"><i class="td-icon-font td-icon-menu-left"></i></a><a href="#"  class="td-ajax-next-page" id="next-page-td_uid_49_58eb574bb35cd" data-td_block_id="td_uid_49_58eb574bb35cd"><i class="td-icon-font td-icon-menu-right"></i></a></div></div> <!-- ./block -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.td-main-content-wrap -->
{% endblock %}
{% block javascripts %}{% endblock %}

