{% extends '::base.html.twig' %}
{% block title %}{{ 'TousLesJours.ci - Actualités et Infos en Côte d\'ivoire et dans le monde' }}{% endblock %}
{% block meta_refresh %}
    <meta http-equiv="refresh" content="120">
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="td-main-content-wrap td-main-page-wrap">
        <div class="td-container tdc-content-wrap">
            <!-- flash information section -->
            {{ render(controller(
            'LabsFrontBundle:Default:getflashInfos',
            { 'template': 'flash_info.html.twig', 'max': 6 }
            )) }}
            <div class="vc_row wpb_row td-pb-row pb50">
                <div class="wpb_column vc_column_container td-pb-span8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            {% for post in recent %}
                                {% if loop.first %}
                                    <div class="td_block_wrap td_block_18 td_uid_31_58eb574db0676_rand td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_31_58eb574db0676" >

                                        <div class="td-block-title-wrap">
                                            <h2 class="title">
                                                <a href="{{ path('page_view', { 'slug': post.slug }) }}" title="{{ post.name }}" rel="{{ post.item.name }}">{{ post.name }}</a>
                                            </h2>
                                        </div>

                                        <div id="{{ post.slug }}" class="td_block_inner td-column-2">
                                            <div class="td_module_mx8 td_module_wrap td-animation-stack">
                                                <div class="meta-info-container">
                                                    <div class="td-module-thumb">
                                                        <a href="{{ path('page_view', { 'slug': post.slug }) }}" rel="bookmark" title="{{ post.name }}">
                                                            {% for media in post.medias %}
                                                                <img width="696" height="385" class="entry-thumb" src="{{ media.assertPath|imagine_filter('thumb_top') }}" alt="{{ post.name }}" title="{{ post.name }}"
                                                                     srcset="{{ media.assertPath|imagine_filter('thumb_top') }} 100w, {{ media.assertPath|imagine_filter('thumb_top') }} 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="{{ post.name }}"/>
                                                            {% endfor %}
                                                            {% if  post.types is not empty %}
                                                                {% if  post.types == 0 %}
                                                                    <span class="td-video-play-ico">
                                                                        <img width="40" height="40" class="td-retina" src="{{ asset('images/icons/ico-video-large.png') }}" alt="video - {{ post.name }}"/>
                                                                    </span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </a>
                                                    </div>

                                                    <div class="td-module-meta-info">
                                                        <h6 class="entry-title td-module-title">
                                                            <img src="{{ asset('favicon/favicon-16x16.png') }}" alt="{{ post.name }}" style="vertical-align: middle">
                                                            <a class="ft14" title="{{ post.legend }}"> {{ post.legend }}</a>
                                                        </h6>
                                                        <span class="td-author-date">
                                                            <span class="td-post-author-name"><a href="">Par TLJ</a> <span>-</span> </span>
                                                            <span class="td-post-date"><time class="entry-date timeago updated td-module-date" datetime="{{ post.created.date }}" title="{{ post.created.date }}">{{ post.created|date('m d, Y') }}</time></span>
                                                            <!--<div class="td-module-comments"><a href="../2017/04/09/moogle-corp-company-you-might-be-working-for/index.html#respond">0</a></div>-->
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <!-- block-top-in-moment -->
                            <div class="td-block-title-wrap">
                                <h4 class="block-title">
                                    <span class="td-pulldown-size">{{ 'en ce moment'|upper }}</span>
                                </h4>
                                <div class="td-pulldown-syle-default td-subcat-filter" id="td_pulldown_td_uid_34_58eb574baae6f">
                                    <ul class="td-subcat-list" id="td_pulldown_td_uid_34_58eb574baae6f_list">
                                        <li class="td-subcat-item-2 li-none">
                                            <a class="td-subcat-link" id="l_uid_35_58eb574bac572" href="#">{{ 'voir toutes l\'actualité du jour'|capitalize }}</a>
                                        </li>
                                    </ul>
                                    <div class="td-subcat-dropdown">
                                        <div class="td-subcat-more" aria-haspopup="true">
                                            <span>{{ 'Plus' }}</span><i class="td-icon-read-down"></i>
                                        </div>
                                        <ul class="td-pulldown-filter-list"></ul>
                                    </div>
                                </div>
                            </div>

                            <!-- top-block -->
                            <div id='block-moment' class="td_block_inner">
                                <div class="td-block-row">
                                    {% for articles in recent %}
                                        {% if loop.index > 1 and loop.index <= 9 %}
                                            <div class="td-block-span6 td-min-height">
                                                <div class="td_module_2 td_module_wrap td-animation-stack">
                                                    <div class="td-module-image">
                                                        <div class="td-module-thumb">
                                                            <a href="{{ path('page_view', {'slug' : articles.slug}) }}" rel="{{ articles.item.name }}" title="{{ articles.name }}">
                                                                {% for media in articles.medias %}
                                                                    <img width="324" height="160" class="entry-thumb" src="{{ media.assertPath|imagine_filter('thumb_top_bottom') }}" srcset="{{ media.assertPath|imagine_filter('thumb_top_bottom') }} 324w, {{ media.assertPath|imagine_filter('thumb_top_bottom') }} 533w" sizes="(max-width: 324px) 100vw, 324px" alt="{{ articles.name }}" title="{{ articles.name }}"/>
                                                                {% endfor %}
                                                                {% if  articles.types is not empty %}
                                                                    {% if  articles.types == 0 %}
                                                                        <span class="td-video-play-ico">
                                                                            <img width="40" height="40" class="td-retina" src="{{ asset('images/icons/ico-video-large.png') }}" alt="video - {{ articles.name }}"/>
                                                                        </span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                        <a href="{{ path('front_item_page', { 'rubrique': articles.item.section.slug, 'slug':articles.item.slug }) }}" class="td-post-category">{{ articles.item.name }}</a>
                                                    </div>
                                                    <h3 class="entry-title td-module-title"><a href="../2017/04/09/i-built-an-app-that-does-triangulation-of-points-on-the-earth/index.html" rel="{{ articles.item.name }}" title="{{ articles.name }}"> {{ articles.name|truncate('50', true, '...') }}</a></h3>
                                                    <div class="td-module-meta-info">
                                                        <span class="td-post-author-name">
                                                            <img src="{{ asset('favicon/favicon-16x16.png') }}" alt="{{ articles.name }}" style="vertical-align: middle">
                                                            <a href="">{{ 'par tlj'|upper }}</a> <span>-</span>
                                                        </span>
                                                        <span class="td-post-date"><time class="entry-date timeago updated td-module-date" datetime="{{ articles.created.date }}" title="{{ articles.created.date }}">{{ articles.created|date('m d, Y') }}</time></span>
                                                        <!--<div class="td-module-comments"><a href=link#respond">0</a></div>-->
                                                    </div>
                                                    <div class="td-excerpt">
                                                        {{ articles.content|truncate('150', false, '...')|striptags }}
                                                    </div>
                                                </div>
                                            </div> <!-- ./td-block-span6 -->
                                        {% endif %}
                                    {% endfor %}
                                </div> <!-- ./td-block-row -->

                                <div class="td-block-row">

                                {% for arts in recent %}
                                    {% if loop.index > 9 %}
                                    <div class="td-block-span6">
                                        <div class="td_module_6 td_module_wrap td-animation-stack">
                                            <div class="td-module-thumb">
                                                <a href="{{ path('page_view', {'slug' : arts.slug}) }}" rel="{{ arts.item.name }}" title="{{ arts.name }}">
                                                    {% for media in arts.medias %}
                                                        <img width="100" height="70" class="entry-thumb" src="{{ media.assertPath|imagine_filter('thumb_top_small') }}" srcset="{{ media.assertPath|imagine_filter('thumb_top_small') }} 100w, {{ media.assertPath|imagine_filter('thumb_top_small') }} 218w" sizes="(max-width: 100px) 100vw, 100px" alt="" title="{{ arts.name }}"/>
                                                    {% endfor %}
                                                </a>
                                            </div>
                                            <div class="item-details">
                                                <h3 class="entry-title td-module-title">
                                                    <a href="{{ path('page_view', {'slug' : arts.slug}) }}" rel="{{ arts.item.name }}" title="{{ arts.name }}">{{ arts.name|truncate('50', false,'...') }}</a>
                                                </h3>
                                                <div class="td-module-meta-info">
                                                    <span class="td-post-date"><time class="entry-date timeago updated td-module-date" datetime="{{ arts.created.date }}" title="{{ arts.created.date }}">{{ arts.created|date('m d, Y') }}</time></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- ./td-block-span6 -->
                                    {% endif %}
                                {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container td-pb-span4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <!-- block network information -->
                                {% include('LabsFrontBundle:Includes/v1:social-info.html.twig') %}
                            <!-- end block network information -->
                            <!-- block last time -->
                                <div class="td_block_wrap td-pb-border-top td_block_template_1">
                                    {{ render(controller(
                                        'LabsFrontBundle:Default:getflashInfos',
                                        { 'template': 'flash_info_sidebar.html.twig', 'max':5 }
                                    )) }}
                                </div>
                            <!-- end block last time -->

                            <!-- block last folder -->
                            <div class="td-block-inner" id="block-dossier">
                                <div class="td-block-title-wrap">
                                    <h4 class="block-title"><span class="td-pulldown-size">{{ 'Nos Dossiers'|upper }}</span></h4>
                                    <div class="td-pulldown-syle-default td-subcat-filter" id="td_pulldown_td_uid_34_58eb574baae6f">
                                        <ul class="td-subcat-list" id="td_pulldown_td_uid_34_58eb574baae6f_list2">
                                            <li class="td-subcat-item-2 li-none">
                                                <a class="td-subcat-link"  href="{{ path('dossier_page') }}"><i class="td-icon-views"></i> {{ 'voir tous les dossiers'|capitalize }}</a>
                                            </li>
                                        </ul>
                                        <div class="td-subcat-dropdown">
                                            <div class="td-subcat-more" aria-haspopup="true">
                                                <span>{{ 'voir tous les dossiers'|capitalize }}</span><i class="td-icon-read-down"></i>
                                            </div>
                                            <ul class="td-pulldown-filter-list"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="td_block_wrap td-pb-border-top td_block_template_1">
                                    {{ render(controller(
                                    'LabsFrontBundle:Default:getDossierLimit',
                                    { 'template': 'dossier.html.twig', 'max':4 }
                                    )) }}
                                </div>
                            </div>


                            <!-- block last Rubriques -->
                            <div class="td-block-title-wrap">
                                <h4 class="block-title"><span class="td-pulldown-size">{{ 'Rubrique day'|upper }}</span></h4>
                            </div>

                            <!-- block last video -->
                            <div class="td-block-inner" id="block-dossier">
                                <div class="td-block-title-wrap">
                                    <h4 class="block-title">
                                        <span class="td-pulldown-size">{{ 'Videos du moment'|upper }}</span>
                                    </h4>
                                </div>
                                <div class="td_block_wrap td-pb-border-top td_block_template_1">
                                    {{ render(controller('LabsFrontBundle:Default:getSideBarvideo')) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {%  for section in sections %}
                {% if section|length > 0 %}
                    <div class="vc_row wpb_row td-pb-row">
                        <div class="wpb_column vc_column_container td-pb-span12">
                            <div class="td-block-title-wrap">
                                <a href="{{ path('front_section_page',{'slug': section.slug}) }}">
                                    <h4 class="block-title" style="border-color: {{ section.color }};">
                                        <span class="td-pulldown-size" style="background-color: {{ section.color }};">{{ section.name|upper }}</span>
                                    </h4>
                                </a>
                                <div class="td-pulldown-syle-default td-subcat-filter" id="category-{{ section.name }}">
                                    <ul class="td-subcat-list" id="list2_{{ section.slug }}">
                                        <li class="td-subcat-item-2 li-none">
                                            <a id="l_uid_{{ section.name }}" href="{{ path('front_section_page',{'slug': section.slug}) }}"><i class="td-icon-views"></i> {{ 'Consultez la rubrique '~ section.name|upper }}</a>
                                        </li>
                                    </ul>
                                    <div class="td-subcat-dropdown">
                                        <div class="td-subcat-more" aria-haspopup="true">
                                            <span>{{ 'Consultez la rubrique '~ section.name|capitalize }}</span><i class="td-icon-read-down"></i>
                                        </div>
                                        <ul class="td-pulldown-filter-list"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="td_block_inner">
                                <div class="td-block-row">
                                    {{ render(controller('LabsFrontBundle:Default:getArticleBySections', {'section' : section.id })) }}
                                </div><!--./row-fluid-->
                            </div>
                        </div> <!-- ./block -->
                    </div>
                    {% if loop.index >= 2 and loop.index < 3 %}
                        <div class="vc_row wpb_row td-pb-row">
                            {{ render(controller('LabsFrontBundle:Default:getVideosReport')) }}
                        </div>
                    {% endif %}
                    {% if loop.index0 >= 4 and loop.index0 < 5 %}
                        <div class="vc_row wpb_row td-pb-row">
                            {{ render(controller(
                            'LabsFrontBundle:Default:getDossierLimit',
                            { 'template': 'dossier_inc_index.html.twig', 'max':3 }
                            )) }}
                        </div>
                    {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <!-- /.td-main-content-wrap -->
{% endblock %}
{% block javascripts %}{% endblock %}

