{% extends '::base.html.twig' %}
{% block title %}{{ 'TousLesJours.ci - Actualités et Infos en Côte d\'ivoire et dans le monde' }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="container">
        <section class="block remove-top remove-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 column">
                        {% for article in recent %}
                            {% if loop.first %}
                                <div class="blog-single" itemscope itemType="http://schema.org/BlogPosting">
                                    <div class="post-single-info">
                                        <h1 itemprop="headline">{{ article.name }}</h1>
                                        <ul>
                                            <li><span>{{ 'mise à jour le '|upper }} :</span><a itemprop="url" href="#" title="">{{ article.created|date('d, m Y') }}</a></li>
                                            <li><a itemprop="url" href="#" title="">{{ article.item.name }}</a></li>
                                            <li><a itemprop="url" href="#" title="">{{ 'touslesjours' }}</a></li>
                                        </ul>
                                    </div>
                                    <div class="single-post-thumb">
                                        {% for media in article.medias %}
                                            <img itemprop="image" src="{{ media.assertPath|imagine_filter('thumb_top') }}" alt="" />
                                        {% endfor %}
                                        <div class="post-metas4">
                                            <div class="date">
                                                <ul>
                                                    <li><a itemprop="url" href="#" title=""> {% if article.legend|length > 0 %}{{article.legend }} {% endif %}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-single-details">
                                        <p itemprop="description">
                                            {{ article.content|truncate(150, true)|raw }}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <section class="block top-margin">
                            <div class="heading">
                                <span>{{ 'en ce moment'|upper }}</span>
                                <h2>{{ 'A la une'|capitalize }}</h2>
                            </div><!-- Heading -->
                            <div class="top-margin">
                                <div class="row">
                                    <ul id="itemContainer" class="loader-data">
                                        {% for post in recent %}
                                            {% if loop.index > 1 and loop.index <= 5 %}
                                                <li class="col-md-6">
                                                <div class="post-style4" itemscope itemType="http://schema.org/BlogPosting">
                                                    {% for media in post.medias %}
                                                        <div class="post-thumb4"><img itemprop="image" src="{{ media.assertPath|imagine_filter('thumb_top_bottom') }}" alt="" />
                                                            <a href="" title="" itemprop="url" class="img-link"></a>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="post-metas4">
                                                        <div class="date">
                                                            <ul>
                                                                <li><a itemprop="datePublished" content="December-29-2014" href="#" title="">{{ post.created|date('d, m Y') }}</a></li><br/>
                                                                <li><a itemprop="url" href="#" title="">{% if post.legend|length > 0 %}{{post.legend }} {% endif %}</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="total-comments">
                                                            <a itemprop="url" href="#" title="">{{ post.item.name }}</a>
                                                        </div><!-- Total Comments -->
                                                    </div>
                                                    <h3 itemprop="headline"><a itemprop="url" href="" title="">{{ post.name|truncate('60', true, '...') }}</a></h3>
                                                    <p itemprop="description">
                                                        {{ post.content|truncate('80', true)|raw }}
                                                    </p>
                                                </div><!-- Post Stye 4 -->
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </section>

                        <section class="block remove-top">
                            <div class="top-margin">
                                <div class="row">
                                    {% for arts in recent %}
                                        {% if loop.index > 5 %}
                                        <div class="col-md-6">
                                            <div itemtype="http://schema.org/BlogPosting" itemscope="" class="post-style1">
                                                {% for media in arts.medias %}
                                                    <div class="post-thumb1">
                                                        <img alt="{{ arts.name }}" src="{{ media.assertPath|imagine_filter('thumb_top_small') }}" itemprop="image">
                                                        <a href="" title="" itemprop="url" class="img-link"></a>
                                                    </div>
                                                {% endfor %}
                                                <div class="date">
                                                    <ul>
                                                        <li><a title="" href="#" content="December-29-2014" itemprop="datePublished">{{ arts.created|date('d, m Y') }}</a></li>
                                                    </ul>
                                                </div>
                                                <h3 itemprop="headline"><a title="" href="" itemprop="url">{{ arts.name|truncate('40', true,'...') }}</a>
                                                </h3>
                                            </div><!-- Post Style 1 -->
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </section>

                        <!-- publicité -->
                        <section class="block remove-top">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="centred">
                                        <img src="http://placehold.it/770x99" alt="" />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- end publicité -->
                    </div>
                    <aside class="col-md-4 column">
                        {{ render(controller('LabsFrontBundle:Default:getflashInfos')) }}
                        {{ render(controller('LabsFrontBundle:Default:getRecentArticle')) }}
                        <div class="widget">
                            <h3 class="heading4">{{ 'Les videos recentes' }}</h3>
                            <ul class="carousal" id="carousal-widget">
                                <li>
                                    <div class="post-style8" itemtype="http://schema.org/BlogPosting" itemscope="">
                                        <div class="post-thumb8">
                                            <img itemprop="image" src="http://placehold.it/319x353" alt="" />
                                        </div>
                                        <div class="post-detail8">
                                            <a itemprop="url" href="#" title="">11 NOV 2015 </a><i class="fa fa-video-camera"></i>
                                            <h3 itemprop="headline"><a itemprop="url" href="single6.html" title="">A New Era of Solar Energy...</a></h3>
                                        </div>
                                    </div><!-- Post Style 8 -->
                                </li>
                                <li>
                                    <div class="post-style8" itemtype="http://schema.org/BlogPosting" itemscope="">
                                        <div class="post-thumb8">
                                            <img itemprop="image" src="http://placehold.it/319x353" alt="" />
                                        </div>
                                        <div class="post-detail8">
                                            <a itemprop="url" href="#" title="">11 NOV 2015 </a><i class="fa fa-video-camera"></i>
                                            <h3 itemprop="headline"><a itemprop="url" href="single7.html" title="">A New Era of Solar Energy...</a></h3>
                                        </div>
                                    </div><!-- Post Style 8 -->
                                </li>
                                <li>
                                    <div class="post-style8" itemtype="http://schema.org/BlogPosting" itemscope="">
                                        <div class="post-thumb8">
                                            <img itemprop="image" src="http://placehold.it/319x353" alt="" />
                                        </div>
                                        <div class="post-detail8">
                                            <a itemprop="url" href="#" title="">11 NOV 2015 </a><i class="fa fa-video-camera"></i>
                                            <h3 itemprop="headline"><a itemprop="url" href="single8.html" title="">A New Era of Solar Energy...</a></h3>
                                        </div>
                                    </div><!-- Post Style 8 -->
                                </li>
                            </ul>
                        </div>

                        <div class="widget">
                            <ul class="review-widget">
                                <div class="post-style6" itemtype="http://schema.org/BlogPosting" itemscope="">
                                    <div class="post-thumb6">
                                        <img itemprop="image" src="http://placehold.it/275x450" alt="" />
                                    </div>
                                </div><!-- Post Style 8 -->
                            </ul>
                        </div>

                        <div class="widget">
                            <h3 class="heading4">{{ 'Grand Format' }}</h3>
                            {{ render(controller('LabsFrontBundle:Default:getDossierInfo')) }}
                        </div>
                    </aside>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        {%  for section in sections %}
            {% if section|length > 0 %}
            <section class="block remove-top remove-bottom">
            <div class="container">
                <div class="row">
                    <section class="block remove-top">
                        <div class="col-md-12 column background-style" style="border-top: 3px solid {{ section.color }};">
                            <div class="heading5">
                                <h3 class="text-center" style="color: {{ section.color }};">
                                    {{ section.name|capitalize }}
                                </h3>
                            </div><!-- Heading -->
                        </div>
                    </section>
                    <div class="clear"></div>
                    <section class="block remove-top">
                        <div class="col-md-12 column">
                            <div class="row">
                                {{ render(controller('LabsFrontBundle:Default:getArticleBySections', {'section' : section.id })) }}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            </section>
            {% if loop.index0 >= 2 and loop.index0 < 3 %}
                <section class="block remove-top">
                    <div class="container">
                        <div class="heading">
                            <i class="fa fa-video-camera"></i><span>{{ 'A la une'|upper }}</span>
                            <h2>{{ 'reportages'|upper }}</h2>
                        </div><!-- Heading -->
                        <div class="row low-space">
                            <div class="col-md-4">
                                <div class="post-style3" itemscope itemType="http://schema.org/BlogPosting">
                                    <img itemprop="image" src="http://placehold.it/389x374" alt="" />
                                    <div class="post-detail3">
                                        <div class="cat">
                                            <a title="" href="#" itemprop="url">Designer</a>
                                        </div>
                                        <h3 itemprop="headline"><a itemprop="url" href="single8.html" title="">The ‘Star Wars Awakenstr</a></h3>
                                        <div class="date">
                                            <ul>
                                                <li><a title="" href="#" content="December-29-2014" itemprop="datePublished">11 NOV 2015</a></li>
                                                <li>BY <a title="" href="#" itemprop="url"> ADMIN</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span><i class="fa fa-play"></i></span>
                                </div><!-- Post Style 3 -->
                            </div>
                            <div class="col-md-4">
                                <div class="post-style3" itemscope itemType="http://schema.org/BlogPosting">
                                    <img itemprop="image" src="http://placehold.it/389x374" alt="" />
                                    <div class="post-detail3">
                                        <div class="cat">
                                            <a title="" href="#" itemprop="url">Designer</a>
                                        </div>
                                        <h3 itemprop="headline"><a itemprop="url" href="single8.html" title="">The ‘Star Wars Awakenstr</a></h3>
                                        <div class="date">
                                            <ul>
                                                <li><a title="" href="#" content="December-29-2014" itemprop="datePublished">11 NOV 2015</a></li>
                                                <li>BY <a title="" href="#" itemprop="url"> ADMIN</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span><i class="fa fa-play"></i></span>
                                </div><!-- Post Style 3 -->
                            </div>
                            <div class="col-md-4">
                                <div class="post-style3" itemscope itemType="http://schema.org/BlogPosting">
                                    <img itemprop="image" src="http://placehold.it/389x374" alt="" />
                                    <div class="post-detail3">
                                        <div class="cat">
                                            <a title="" href="#" itemprop="url">Designer</a>
                                        </div>
                                        <h3 itemprop="headline"><a itemprop="url" href="single8.html" title="">The ‘Star Wars Awakenstr</a></h3>
                                        <div class="date">
                                            <ul>
                                                <li><a title="" href="#" content="December-29-2014" itemprop="datePublished">11 NOV 2015</a></li>
                                                <li>BY <a title="" href="#" itemprop="url"> ADMIN</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span><i class="fa fa-play"></i></span>
                                </div><!-- Post Style 3 -->
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
            {% if loop.index0 >= 5 and loop.index0 < 6 %}
                <section class="block remove-top">
                    <div class="container">
                        <div class="heading">
                            <i class="fa fa-bookmark"></i><span>{{ 'A la une'|upper }}</span>
                            <h2>{{ 'Dossiers'|upper }}</h2>
                        </div><!-- Heading -->
                        <div class="new-sec">
                            <div class="col-md-6">
                                <div class="post-style3" itemscope itemType="http://schema.org/BlogPosting">
                                    <img itemprop="image" src="http://placehold.it/499x388" alt="" />
                                    <div class="post-detail3">
                                        <div class="cat">
                                            <a title="" href="#" itemprop="url">Photoshop</a>
                                        </div>
                                        <h3 itemprop="headline"><a itemprop="url" href="single5.html" title="">The ‘Star Wars Awakenstr</a></h3>
                                        <div class="date">
                                            <ul>
                                                <li>BY <a title="" href="#" itemprop="url"> ADMIN</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- Post Style 3 -->
                            </div>
                            <div class="col-md-3">
                                <div class="post-style3" itemscope itemType="http://schema.org/BlogPosting">
                                    <img itemprop="image" src="http://placehold.it/330x256" alt="" />
                                    <div class="post-detail3 small-font">
                                        <div class="cat">
                                            <a title="" href="#" itemprop="url">Designer</a>
                                        </div>
                                        <h3 itemprop="headline"><a itemprop="url" href="single6.html" title="">The ‘Star Wars Awakenstr</a></h3>
                                        <div class="date">
                                            <ul>
                                                <li>BY <a title="" href="#" itemprop="url"> ADMIN</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- Post Style 3 -->
                            </div>
                            <div class="col-md-3">
                                <div class="post-style3" itemscope itemType="http://schema.org/BlogPosting">
                                    <img itemprop="image" src="http://placehold.it/330x256" alt="" />
                                    <div class="post-detail3 small-font">
                                        <div class="cat">
                                            <a title="" href="#" itemprop="url">Designer</a>
                                        </div>
                                        <h3 itemprop="headline"><a itemprop="url" href="single7.html" title="">The ‘Star Wars Awakenstr</a></h3>
                                        <div class="date">
                                            <ul>
                                                <li>BY <a title="" href="#" itemprop="url"> ADMIN</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- Post Style 3 -->
                            </div>
                            <div class="col-md-3">
                                <div class="post-style3" itemscope itemType="http://schema.org/BlogPosting">
                                    <img itemprop="image" src="http://placehold.it/330x256" alt="" />
                                    <div class="post-detail3 small-font">
                                        <div class="cat">
                                            <a title="" href="#" itemprop="url">Designer</a>
                                        </div>
                                        <h3 itemprop="headline"><a itemprop="url" href="single8.html" title="">The ‘Star Wars Awakenstr</a></h3>
                                        <div class="date">
                                            <ul>
                                                <li>BY <a title="" href="#" itemprop="url"> ADMIN</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- Post Style 3 -->
                            </div>
                            <div class="col-md-3">
                                <div class="post-style3" itemscope itemType="http://schema.org/BlogPosting">
                                    <img itemprop="image" src="http://placehold.it/330x256" alt="" />
                                    <div class="post-detail3 small-font">
                                        <div class="cat">
                                            <a title="" href="#" itemprop="url">Designer</a>
                                        </div>
                                        <h3 itemprop="headline"><a itemprop="url" href="single.html" title="">The ‘Star Wars Awakenstr</a></h3>
                                        <div class="date">
                                            <ul>
                                                <li>BY <a title="" href="#" itemprop="url"> ADMIN</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- Post Style 3 -->
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        $(document).ready(function() {

            'use strict';

            $(".wide-carousal-post").owlCarousel({
                autoplay:false,
                autoplayTimeout:3000,
                smartSpeed:2000,
                loop:true,
                dots:false,
                nav:true,
                margin:0,
                items:1,
                singleItem:true
            });

           /* $("#carousal-footer-widget").owlCarousel({
                autoplay:true,
                autoplayTimeout:3000,
                smartSpeed:2000,
                loop:false,
                dots:true,
                nav:false,
                margin:0,
                items:1,
                singleItem:true
            });

            $("#carousal-posts").owlCarousel({
                autoplay:true,
                autoplayTimeout:3000,
                smartSpeed:2000,
                loop:true,
                dots:false,
                nav:true,
                margin:4,
                items:3,
                singleItem:true,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:2,
                        nav:false
                    },
                    900:{
                        items:3,
                        nav:true,
                        loop:false
                    }
                }
            });

            $(".big-post-carousel").owlCarousel({
                autoplay:true,
                autoplayTimeout:3000,
                smartSpeed:2000,
                loop:false,
                dots:true,
                nav:false,
                margin:0,
                items:1,
                singleItem:true
            });

            $(".fancy-carousal").owlCarousel({
                autoplay:false,
                autoplayTimeout:3000,
                smartSpeed:2000,
                loop:true,
                dots:false,
                nav:true,
                margin:0,
                items:1,
                singleItem:true
            });*/
        });
    </script>

{% endblock %}