{% extends '::base.html.twig' %}
{% block title %}{{ 'TousLesJours.ci - Actualités et Infos en Côte d\'ivoire et dans le monde' }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="container">
        <section class="block remove-top remove-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 column">
                        {% for article in recent %}
                            {% if loop.first %}
                                <div class="blog-single" itemscope itemType="http://schema.org/BlogPosting">
                                    <div class="post-single-info">
                                        <h1 itemprop="headline">{{ article.name }}</h1>
                                        <ul>
                                            <li><span>{{ 'mise à jour le '|upper }} :</span><a itemprop="url" href="#" title="">{{ article.created|date('d, m Y') }}</a></li>
                                            <li><a itemprop="url" href="#" title="">{{ article.item.name }}</a></li>
                                            <li><a itemprop="url" href="#" title="">{{ 'touslesjours' }}</a></li>
                                        </ul>
                                    </div>
                                    <div class="single-post-thumb">
                                        {% for media in article.medias %}
                                            <img itemprop="image" src="{{ media.assertPath|imagine_filter('thumb_top') }}" alt="" />
                                        {% endfor %}
                                        <div class="post-metas4">
                                            <div class="date">
                                                <ul>
                                                    <li><a itemprop="url" href="#" title=""> {% if article.legend|length > 0 %}{{article.legend }} {% endif %}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-single-details">
                                        <p itemprop="description">
                                            {{ article.content|truncate(350, true)|raw }}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <section class="block top-margin">
                            <div class="heading">
                                <span>{{ 'en ce moment'|upper }}</span>
                                <h2>{{ 'A la une'|capitalize }}</h2>
                            </div><!-- Heading -->
                            <div class="top-margin">
                                <div class="row">
                                    <ul id="itemContainer" class="loader-data">
                                        {% for post in recent %}
                                            {% if loop.index > 1 and loop.index <= 5 %}
                                                <li class="col-md-6">
                                                <div class="post-style4" itemscope itemType="http://schema.org/BlogPosting">
                                                    {% for media in post.medias %}
                                                        <div class="post-thumb4"><img itemprop="image" src="{{ media.assertPath|imagine_filter('thumb_top_bottom') }}" alt="" />
                                                            <a href="" title="" itemprop="url" class="img-link"></a>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="post-metas4">
                                                        <div class="date">
                                                            <ul>
                                                                <li><a itemprop="datePublished" content="December-29-2014" href="#" title="">{{ post.created|date('d, m Y') }}</a></li><br/>
                                                                <li><a itemprop="url" href="#" title="">{% if post.legend|length > 0 %}{{post.legend }} {% endif %}</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="total-comments">
                                                            <a itemprop="url" href="#" title="">{{ post.item.name }}</a>
                                                        </div><!-- Total Comments -->
                                                    </div>
                                                    <h3 itemprop="headline"><a itemprop="url" href="" title="">{{ post.name|truncate('60', true, '...') }}</a></h3>
                                                    <p itemprop="description">
                                                        {{ post.content|truncate('200', true)|raw }}
                                                    </p>
                                                </div><!-- Post Stye 4 -->
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </section>

                        <section class="block remove-top">
                            <div class="top-margin">
                                <div class="row">
                                    {% for arts in recent %}
                                        {% if loop.index > 5 %}
                                        <div class="col-md-6">
                                            <div itemtype="http://schema.org/BlogPosting" itemscope="" class="post-style1">
                                                {% for media in arts.medias %}
                                                    <div class="post-thumb1">
                                                        <img alt="{{ arts.name }}" src="{{ media.assertPath|imagine_filter('thumb_top_small') }}" itemprop="image">
                                                        <a href="" title="" itemprop="url" class="img-link"></a>
                                                    </div>
                                                {% endfor %}
                                                <div class="date">
                                                    <ul>
                                                        <li><a title="" href="#" content="December-29-2014" itemprop="datePublished">{{ arts.created|date('d, m Y') }}</a></li>
                                                    </ul>
                                                </div>
                                                <h3 itemprop="headline"><a title="" href="" itemprop="url">{{ arts.name|truncate('50', true,'...') }}</a>
                                                </h3>
                                            </div><!-- Post Style 1 -->
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </section>

                        <!-- publicité -->
                        <section class="block remove-top">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="centred">
                                        <img src="http://placehold.it/770x99" alt="" />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- end publicité -->
                    </div>
                    <aside class="col-md-4 column">
                        {{ render(controller('LabsFrontBundle:Default:getflashInfos')) }}
                        <div class="widget">
                            <ul class="review-widget">
                                <div class="post-style6" itemtype="http://schema.org/BlogPosting" itemscope="">
                                    <div class="post-thumb6">
                                        <a href=""><img itemprop="image" src="{{ asset('images/resource/pub.jpg') }}" alt="" /></a>
                                    </div>
                                </div><!-- Post Style 8 -->
                            </ul>
                        </div>
                        {{ render(controller('LabsFrontBundle:Default:getRecentArticle')) }}
                        {{ render(controller('LabsFrontBundle:Default:getSideBarvideo')) }}
                        {{ render(controller('LabsFrontBundle:Default:getDossierInfo')) }}
                    </aside>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        {%  for section in sections %}
            {% if section|length > 0 %}
            <section class="block remove-top remove-bottom">
            <div class="container">
                <div class="row">
                    <section class="block remove-top">
                        <div class="col-md-12 column background-style" style="border-top: 3px solid {{ section.color }};">
                            <div class="heading5">
                                <h3 class="text-center" style="color: {{ section.color }};">
                                    {{ section.name|capitalize }}
                                </h3>
                            </div><!-- Heading -->
                        </div>
                    </section>
                    <div class="clear"></div>
                    <section class="block remove-top">
                        <div class="col-md-12 column">
                            <div class="row">
                                {{ render(controller('LabsFrontBundle:Default:getArticleBySections', {'section' : section.id })) }}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            </section>
            {% if loop.index0 >= 2 and loop.index0 < 3 %}
                {{ render(controller('LabsFrontBundle:Default:getVideosReport')) }}
            {% endif %}
            {% if loop.index0 >= 4 and loop.index0 < 5 %}
                <section class="block remove-top">
                    <div class="container">
                        <div class="heading">
                            <i class="fa fa-bookmark"></i><span>{{ 'A la une'|upper }}</span>
                            <h2>{{ 'Dossiers'|upper }}</h2>
                        </div><!-- Heading -->
                        <div class="new-sec">
                            {{ render(controller('LabsFrontBundle:Default:getDossierLimit')) }}
                        </div>
                    </div>
                </section>
            {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" src="{{ asset('js/apis/tjr.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/apis/y.script.min.js') }}"></script>
{% endblock %}