{% extends '::base.html.twig' %}
{% block title %}{{ 'TousLesJours.ci - Actualités et Infos en Côte d\'ivoire et dans le monde' }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
  <div class="container bg-section">
      <section class="block remove-top">
          <div class="first-container">
              <div class="first-row">
                    <div class="col-md-8 column">
                        <div class="blog-single" itemscope itemType="http://schema.org/BlogPosting">
                            <div class="post-single-info">
                                <h1 itemprop="headline">{{ article.name }}</h1>
                                <ul>
                                    <li><a itemprop="url" href="#" title="">Publié le : {{ article.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</a></li>
                                    <li><a itemprop="url" href="{{ path('front_item_page', {'rubrique' : article.item.section.slug, 'slug': article.item.slug }) }}" title="{{ article.item.name }}">{{ article.item.name }}</a></li>
                                </ul>
                            </div>
                            <div class="single-post-thumb">
                                {% for media in article.medias  %}
                                <img itemprop="image" src="{{ media.assertPath|imagine_filter('thumb_block_article') }}" alt="" />
                                <ul class="share-post">
                                    <li><span>{{ 'Partager l\'article' }}</span></li>
                                    <li><a itemprop="url" href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a itemprop="url" href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                                    <li><a itemprop="url" href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a itemprop="url" href="#" title=""><i class="fa fa-pinterest"></i></a></li>
                                    <li><a itemprop="url" href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                {% endfor %}
                            </div>
                            <div class="post-single-info">
                                <p class="date">
                                    {% if article.legend|length > 0 %}{{ article.legend }}{% endif %}
                                </p>
                            </div>
                            <!--<div class="post-rate">
                                <span><i class="fa fa-eye"></i> 9875</span>
                                <span><i class="fa fa-heart"></i> 78k</span>
                                <div class="rating-detailed">
                                    <strong class="rating-title">3</strong>
                                    <div class="rating-stars">
                                        <b class="fa fa-star star-on"></b>
                                        <b class="fa fa-star star-on"></b>
                                        <b class="fa fa-star star-on"></b>
                                        <b class="fa fa-star star-on"></b>
                                        <b class="fa fa-star star-off"></b>
                                    </div>
                                </div>
                            </div>-->
                            <div class="blog-single-details">
                                <p itemprop="description">
                                    {{ article.content|raw }}
                                </p>
                                <div class="post-tags">
                                    <span><i class="fa fa-tags"></i> TAG :</span>
                                    <a href="{{ path('front_section_page', {'slug': article.item.section.slug}) }}" title="{{ article.item.section.name }}">{{ article.item.section.name }}</a>
                                    <a href="{{ path('front_item_page', {'rubrique':article.item.section.slug, 'slug': article.item.slug}) }}" title="{{ article.item.name }}">{{ article.item.name }}</a>
                                    <a href="" title="">{{ article.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</a>
                                </div>
                            </div>
                        </div><!-- Single Post -->
                        <div class="rel-post-sec">
                            <h3 class="heading4">Sur le même sujet</h3>
                            <div class="top-margin">
                                {% for post in old %}
                                    <div class="col-md-6">
                                    <div itemtype="http://schema.org/BlogPosting" itemscope="" class="post-style1">
                                        {% for m in post.medias %}
                                            <div class="post-thumb1">
                                                <img alt="" src="{{ m.assertPath|imagine_filter('thumb_top_small') }}" itemprop="image">
                                                <a href="{{ path('page_view', {'slug':post.slug}) }}" title="{{ post.name }}" itemprop="url" class="img-link"></a>
                                            </div>
                                        {% endfor %}
                                        <div class="date">
                                            <ul>
                                                <li><a itemprop="datePublished" content="{{ post.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}" href="#" title="">{{ post.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }} |</a></li>
                                            </ul>
                                        </div>
                                        <h3 itemprop="headline"><a title="{{ post.name }}" href="{{ path('page_view', {'slug': post.slug}) }}" itemprop="url">{{ post.name|truncate('50', true, '...') }}</a></h3>
                                    </div><!-- Post Style 1 -->
                                </div>
                                {% endfor %}
                            </div>
                        </div><!-- Related Post Sec -->

                    </div>
                    <aside class="col-md-4 column">
                        {{ render(controller('LabsFrontBundle:Default:getflashInfos')) }}
                        <div class="widget">
                              <ul class="review-widget">
                                    <div class="post-style6" itemtype="http://schema.org/BlogPosting" itemscope="">
                                          <div class="post-thumb6">
                                                <a href=""><img itemprop="image" src="{{ asset('images/resource/pub.jpg') }}" alt="" /></a>
                                          </div>
                                    </div><!-- Post Style 8 -->
                              </ul>
                        </div>
                        {{ render(controller('LabsFrontBundle:Default:getRecentArticle')) }}
                        {{ render(controller('LabsFrontBundle:Default:getSideBarvideo')) }}
                        {{ render(controller('LabsFrontBundle:Default:getDossierInfo')) }}
                    </aside>
              </div>
          </div>
      </section>
  </div>
{% endblock %}