{% extends '::base.html.twig' %}
{% block title %}{{ 'TousLesJours.ci - Actualités et Infos en Côte d\'ivoire et dans le monde' }}{% endblock %}
{% block meta %}
    <link rel="canonical" href="{{ url('page_view', { 'slug': article.slug }) }}" />
    <!-- sample facbook meta tags -->
    <meta property="og:url" content="{{ url('page_view', { 'slug': article.slug }) }}" />
    <meta property="og:title" content="{{ article.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ article.content|truncate(200, true, '...')|striptags }}" />
    <meta property="og:image"  content="{{ absolute_url(article.medias.0.assertPath|imagine_filter('thumb_block_article') ) }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:site_name"  content="{{ 'touslesjours CI' }}" />
    <meta property="og:locale"  content="fr_FR"/>
    <meta property="og:updated_time" content="{{ article.created|date('d, m Y') }}" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:rich_attachment" content="true" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="652">
    <meta property="og:image:height" content="365">
    <meta property="fb:app_id" content="1651341078293386">
<!--- sample twitter card meta tags --->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@touslesjoursci">
    <meta name="twitter:creator" content="@touslesjoursci">
    <meta name="twitter:title" content="{{ article.name }}">
    <meta name="twitter:description" content="{{ article.content|truncate(140, true, '...')|striptags }}">
    <meta name="twitter:image" content="{{ absolute_url(article.medias.0.assertPath|imagine_filter('thumb_block_article') ) }}">
    <meta name="twitter:image:alt" content="{{ article.legend }}">

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('social/css/rrssb.css') }}">
{% endblock %}
{% block body %}
  <div class="container bg-section">
      <section class="block remove-top">
          <div class="first-container">
              <div class="first-row">
                    <div class="col-md-8 column">
                        <div class="blog-single" itemscope itemType="http://schema.org/BlogPosting">
                            <div class="post-single-info">
                                <h1 itemprop="headline">{{ article.name }}</h1>
                                <ul>
                                    <li><a itemprop="url" href="#" title="">Publié le : {{ article.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</a></li>
                                    <li><a itemprop="url" href="{{ path('front_item_page', {'rubrique' : article.item.section.slug, 'slug': article.item.slug }) }}" title="{{ article.item.name }}">{{ article.item.name }}</a></li>
                                </ul>
                            </div>
                            <div class="post-rate">
                                <!-- Buttons start here. Copy this ul to your document. -->
                                <ul class="rrssb-buttons clearfix">
                                    <li class="rrssb-facebook">
                                        <!--  Replace with your URL. For best results, make sure you page has the proper FB Open Graph tags in header: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/ -->
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('page_view', { 'slug': article.slug }) }}" class="popup">
                                            <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg></span>
                                            <span class="rrssb-text">facebook</span>
                                        </a>
                                    </li>
                                    <li class="rrssb-twitter">
                                        <!-- Replace href with your Meta and URL information  -->
                                        <a href="https://twitter.com/share?text={{ article.content|truncate('100',true,'...')|striptags }}&u={{ url('page_view', { 'slug': article.slug }) }}"
                                           class="popup">
                                            <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg></span>
                                            <span class="rrssb-text">twitter</span>
                                        </a>
                                    </li>
                                    <li class="rrssb-googleplus">
                                        <!-- Replace href with your meta and URL information.  -->
                                        <a href="https://plus.google.com/share?url=Check%20out%20how%20ridiculously%20responsive%20these%20social%20buttons%20are%20http://rrssb.ml" class="popup">
                                            <span class="rrssb-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 8.29h-1.95v2.6h-2.6v1.82h2.6v2.6H21v-2.6h2.6v-1.885H21V8.29zM7.614 10.306v2.925h3.9c-.26 1.69-1.755 2.925-3.9 2.925-2.34 0-4.29-2.016-4.29-4.354s1.885-4.353 4.29-4.353c1.104 0 2.014.326 2.794 1.105l2.08-2.08c-1.3-1.17-2.924-1.883-4.874-1.883C3.65 4.586.4 7.835.4 11.8s3.25 7.212 7.214 7.212c4.224 0 6.953-2.988 6.953-7.082 0-.52-.065-1.104-.13-1.624H7.614z"/></svg>            </span>
                                            <span class="rrssb-text">google+</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Buttons end here -->
                            </div>
                            <div class="single-post-thumb">
                                {% for media in article.medias  %}
                                    <img itemprop="image" src="{{ media.assertPath|imagine_filter('thumb_block_article') }}" alt="" />
                                {% endfor %}
                            </div>
                            <div class="post-metas4">
                                <div class="date">
                                    <ul>
                                        <li><a itemprop="url" href="#" title=""> {% if article.legend|length > 0 %}{{article.legend|capitalize }} {% endif %}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog-single-details">
                                <p itemprop="description">
                                    {{ article.content|raw }}
                                </p>
                                <div class="post-tags">
                                    <span><i class="fa fa-tags"></i> TAG :</span>
                                    <a href="{{ path('front_section_page', {'slug': article.item.section.slug}) }}" title="{{ article.item.section.name }}">{{ article.item.section.name }}</a>
                                    <a href="{{ path('front_item_page', {'rubrique':article.item.section.slug, 'slug': article.item.slug}) }}" title="{{ article.item.name }}">{{ article.item.name }}</a>
                                    <a href="" title="">{{ article.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</a>
                                </div>
                            </div>
                        </div><!-- Single Post -->
                        <div class="rel-post-sec">
                            <h3 class="heading4">Sur le même sujet</h3>
                            <div class="top-margin">
                                {% for post in old %}
                                    <div class="col-md-6">
                                    <div itemtype="http://schema.org/BlogPosting" itemscope="" class="post-style1">
                                        {% for m in post.medias %}
                                            <div class="post-thumb1">
                                                <img alt="" src="{{ m.assertPath|imagine_filter('thumb_top_small') }}" itemprop="image">
                                                <a href="{{ path('page_view', {'slug':post.slug}) }}" title="{{ post.name }}" itemprop="url" class="img-link"></a>
                                            </div>
                                        {% endfor %}
                                        <div class="date">
                                            <ul>
                                                <li><a itemprop="datePublished" content="{{ post.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}" href="#" title="">{{ post.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }} |</a></li>
                                            </ul>
                                        </div>
                                        <h3 itemprop="headline"><a title="{{ post.name }}" href="{{ path('page_view', {'slug': post.slug}) }}" itemprop="url">{{ post.name|truncate('50', true, '...') }}</a></h3>
                                    </div><!-- Post Style 1 -->
                                </div>
                                {% endfor %}
                            </div>
                        </div><!-- Related Post Sec -->

                    </div>
                    <aside class="col-md-4 column">
                        {{ render(controller('LabsFrontBundle:Default:getflashInfos')) }}
                        <div class="widget">
                              <ul class="review-widget">
                                    <div class="post-style6" itemtype="http://schema.org/BlogPosting" itemscope="">
                                          <div class="post-thumb6">
                                                <a href=""><img itemprop="image" src="{{ asset('images/resource/pub.jpg') }}" alt="" /></a>
                                          </div>
                                    </div><!-- Post Style 8 -->
                              </ul>
                        </div>
                        {{ render(controller('LabsFrontBundle:Default:getRecentArticle')) }}
                        {{ render(controller('LabsFrontBundle:Default:getSideBarvideo')) }}
                        {{ render(controller('LabsFrontBundle:Default:getDossierInfo')) }}
                    </aside>
              </div>
          </div>
      </section>
  </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" src="{{ asset('social/js/rrssb.min.js') }}"></script>
{% endblock %}