<!-- Instagram -->
<div class="td-main-content-wrap td-footer-instagram-container">
    <div class="td-instagram-user">
        <h4 class="td-footer-instagram-title">
            Suivez nous sur Instagram
            <a class="td-footer-instagram-user-link" href="https://www.instagram.com/" target="_blank">@</a>
        </h4>
    </div>
    <div class="td_block_wrap td_block_instagram td_uid_41_58eb574de6f3a_rand td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_41_58eb574de6f3a" >
        <div id="td_uid_41_58eb574de6f3a" class="td-instagram-wrap td_block_inner td-column-1"></div>
    </div>
    <!-- ./block -->
</div>
<!--- footer --->
<div class="td-footer-wrapper">
    <div class="td-container">
        <div class="td-pb-row">
            <div class="td-pb-span12">
            </div>
        </div>
        <div class="td-pb-row">
            <div class="td-pb-span4">
                <div class="td_block_wrap td_block_7 td_uid_43_58eb574de7852_rand td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_43_58eb574de7852" >
                    <div class="td-block-title-wrap">
                        <h4 class="block-title"><span class="td-pulldown-size">{{ 'Derniers Dossiers'|upper }}</span></h4>
                    </div>
                    <div id=td_uid_43_58eb574de7852 class="td_block_inner">
                        {% for dossier in last_dossiers %}
                            <div class="td-block-span12">
                                <div class="td_module_6 td_module_wrap td-animation-stack">
                                    <div class="td-module-thumb">
                                        <a href="{{ url('page_dossier_view', {'rubrique': dossier.item.name , 'slug': dossier.slug}) }}" rel="{{ dossier.item.name }}" title="{{ dossier.name }}">
                                            {% for media in dossier.medias %}
                                                <img width="100" height="70" class="entry-thumb" src="{{ media.assertPath|imagine_filter('thumb_top_small') }}" srcset="{{ media.assertPath|imagine_filter('thumb_top_small') }} 100w, {{ media.assertPath|imagine_filter('thumb_top_small') }} 218w" sizes="(max-width: 100px) 100vw, 100px" alt="{{ dossier.name }}" title="{{ dossier.name }}"/>
                                            {% endfor %}
                                        </a>
                                    </div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title">
                                            <a href="{{ url('page_dossier_view', {'rubrique': dossier.item.name , 'slug': dossier.slug}) }}" rel="bookmark" title="{{ dossier.name }}">{{ dossier.name|truncate('120', false, '...') }}</a>
                                        </h3>
                                        <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="{{ dossier.created.date }}" >{{ dossier.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</time></span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- ./td-block-span12 -->
                        {% endfor %}
                    </div>
                </div> <!-- ./block -->
            </div>

            <div class="td-pb-span4">
                <div class="td_block_wrap td_block_7 td_uid_44_58eb574dea200_rand td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_44_58eb574dea200" >
                    <div class="td-block-title-wrap">
                        <h4 class="block-title">
                            <span class="td-pulldown-size">{{ 'A la une'|upper }}</span></h4>
                    </div>
                    <div id=td_uid_44_58eb574dea200 class="td_block_inner">
                        {% for article in last_articles %}
                            <div class="td-block-span12">
                                <div class="td_module_6 td_module_wrap td-animation-stack">
                                    <div class="td-module-thumb">
                                        <a href="{{ path('page_view', {'slug': article.slug }) }}" rel="bookmark" title="{{ article.name }}">
                                            {% for media in article.medias %}
                                                <img width="100" height="70" class="entry-thumb" src="{{ media.assertPath|imagine_filter('thumb_top_small') }}" srcset="{{ media.assertPath|imagine_filter('thumb_top_small') }} 100w, {{ media.assertPath|imagine_filter('thumb_top_small') }} 218w" sizes="(max-width: 100px) 100vw, 100px" alt="{{ article.name }}" title="{{ article.name }}"/>
                                            {% endfor %}
                                        </a>
                                    </div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title">
                                            <a href="{{ path('page_view', {'slug': article.slug }) }}" rel="{{ article.item.name }}" title="{{ article.name }}">{{ article.name|truncate('120', false, '...') }}</a>
                                        </h3>
                                        <div class="td-module-meta-info">
                                            <span class="td-post-date"><time class="entry-date updated td-module-date" datetime="{{ article.created.date }}" >{{ article.created|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</time></span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- ./td-block-span12 -->
                        {% endfor %}
                    </div>
                </div> <!-- ./block -->
            </div>

            <div class="td-pb-span4">
                <div class="td_block_wrap td_block_popular_categories td_uid_45_58eb574ded41b_rand widget widget_categories td-pb-border-top td_block_template_1"  data-td-block-uid="td_uid_45_58eb574ded41b" >
                    <h4 class="block-title"><span class="td-pulldown-size">{{ 'Rubriques'|upper }}</span></h4>
                    <ul class="td-pb-padding-side">
                        {% for section in menu_sections %}
                            <li><a href="{{ path('front_section_page', {'slug': section.slug}) }}">{{ section.name }}<span class="td-cat-no">{{ section.items|length }}</span></a></li>
                        {% endfor %}
                        <li><a href="{{ path('dossier_page') }}">{{ 'Dossier'|capitalize }}<span class="td-cat-no"></span></a></li>
                        <li><a href="{{ path('videos_page') }}">{{ 'Video'|capitalize }}<span class="td-cat-no"></span></a></li>
                    </ul>
                </div> <!-- ./block -->
            </div>
        </div>
    </div>
    <div class="td-footer-bottom-full">
        <div class="td-container">
            <div class="td-pb-row">
                <div class="td-pb-span3">
                    <aside class="footer-logo-wrap">
                        <a href="{{ path('homepage') }}" title="touslesjours.ci - 1er site d'information national & international. Les articles du journal , actualité en continu, Abidjan, Côte d'ivoire">
                            <img class="td-retina-data" src="{{ asset('images/resource/logo_white.png') }}" data-retina="{{ asset('images/resource/logo_white.png') }}" alt="Les articles du journal , actualité en continu, Abidjan, Côte d'ivoire" title="Les articles du journal , actualité en continu, Abidjan, Côte d'ivoire"/>
                        </a>
                    </aside>
                </div>
                <div class="td-pb-span5">
                    <aside class="footer-text-wrap">
                        <div class="block-title">
                            <span>{{ 'Qui sommes nous'|upper }}</span>
                        </div>
                        Tous les jours est le premier quotidien gratuit d'informations générales en Afrique noire francophone. Le siège est à Abidjan Cocody Attoban avec une ligne éditoriale neutre basée sur l'économie, la politique internationale et de proximité, les affaires, les faits de société, le sport, la culture...
                        <div class="footer-email-wrap">Nous Contacter : <a href="mailto:info@touslesjoursci.com">info@touslesjoursci.com</a>
                        </div>
                    </aside>
                </div>
                <div class="td-pb-span4">
                    <aside class="footer-social-wrap td-social-style-2">
                        <div class="block-title">
                            <span>{{ 'Suivez-nous'|upper }}</span>
                        </div>
                        <span class="td-social-icon-wrap">
                            <a target="_blank" href="#" title="Facebook">
                                <i class="td-icon-font td-icon-facebook"></i>
                            </a>
                        </span>
                        <span class="td-social-icon-wrap">
                            <a target="_blank" href="#" title="Twitter">
                                <i class="td-icon-font td-icon-twitter"></i>
                            </a>
                        </span>
                        <span class="td-social-icon-wrap">
                            <a target="_blank" href="#" title="Vimeo">
                                <i class="td-icon-font td-icon-vimeo"></i>
                            </a>
                        </span>
                        <span class="td-social-icon-wrap">
                            <a target="_blank" href="#" title="VKontakte">
                                <i class="td-icon-font td-icon-vk"></i>
                            </a>
                        </span>
                        <span class="td-social-icon-wrap">
                            <a target="_blank" href="#" title="Youtube">
                                <i class="td-icon-font td-icon-youtube"></i>
                            </a>
                        </span>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>